<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Please Choose Your Online Clinic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngFor="let clinic of clinics">

    <div *ngIf="clinic.IsOnline==true">
      <ion-item (click)="movehomepage(clinic.ID)" color="success">
        {{clinic.Name}}
        <ion-badge slot="end">{{clinic.childrenCount}}</ion-badge>
      </ion-item>
    </div>

    <div *ngIf="clinic.IsOnline==false">
        <ion-item (click)="movehomepage(clinic.ID)" color="light">
          {{clinic.Name}}
          <ion-badge slot="end">{{clinic.childrenCount}}</ion-badge>
        </ion-item>
      </div>
  </div>

</ion-content>