<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Follow up</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div *ngFor="let child of childData">
    <ion-card>
      <ion-card-header>
        <div class="icons" style="display: flex; justify-content: space-between; align-items: center;">
        <ion-card-title>{{child.Child.Name}}</ion-card-title>
        <ion-item class="ion-justify-content-center">
          <ion-icon slot="end" color="primary" name="trash" (click)="alertforDeleteFollowup(child.Id)" style="font-size: 25px;"></ion-icon>
          <ion-icon slot="end" color="primary" name="download" (click)="downloadFollowUpPdf(child.Id)" style="font-size: 25px;"></ion-icon>
        </ion-item> 
        </div>
      </ion-card-header>
      <ion-card-content>
        <p>Date: {{child.CurrentVisitDate}}</p>
        <p>Diagnose: {{child.Disease}}</p>
        <p>Weight: {{child.Weight}}</p>
        <p>Height:{{child.Height}}</p>
        <p>OFC:{{child.OFC}}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="addfollowup" color="primary">
      <ion-icon name="add" color="light" routerLink="/members/child/followup/{{childId}}/addfollowup"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>