<ion-header id="bg-header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Patients</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-buttons class="ion-justify-content-center" style="border-radius: 5px;">

      <ion-icon style="margin-left: 10%" routerLink="/members/child/add"  name="person-add" size="large" > </ion-icon>
      <ion-icon style="margin-left: 10%" routerLink="/members/alert"  name="alert" size="large" > </ion-icon>
      <ion-icon style="margin-left: 10%" routerLink="/members/doctor/clinic" name="medkit" size="large"> </ion-icon>
      <ion-menu-button style="margin-left: 10%"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-searchbar type="tel"></ion-searchbar> -->

  <form [formGroup]="fg">
    <ion-item>
      <ion-input type="text" placeholder="search" formControlName="Name" (keyup.Enter)="getChlidbyUser(true)"
        required></ion-input>
      <ion-button [disabled]="false" (click)="getChlidbyUser(true)">search</ion-button>
      <ion-button *ngIf="search" (click)="getChlidByClinic(true)">clear</ion-button>
    </ion-item>

  </form>

  <ion-card *ngFor="let child of childs" [ngClass]="child.Gender=='Girl' ? 'girl' : 'boy'">
    <div class="icons" style="display: flex; justify-content: space-between; align-items: center;">
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img [src]="child.Gender=='Girl' ? '../../assets/female.png' : '../../assets/male.png'"
            class="{{child.Gender=='Girl' ? 'female-image' : 'male-image'}}"></ion-img>
        </ion-thumbnail>
        <ion-label>{{child.Name}}</ion-label>
      </ion-item>
      <ion-item class="ion-justify-content-center">
        <ion-icon class="iconchild" slot="start" color="primary" name="create"
          routerLink="/members/child/edit/{{child.Id}}" style="font-size: 40px;"></ion-icon>
        <ion-icon class="iconchild" *ngIf="usertype!=='PA'" slot="start" color="primary" name="trash" (click)="alertforDeleteChild(child.Id)"
          style="font-size: 40px;"></ion-icon>
        <ion-icon class="iconchild" slot="start" color="primary" name="mail"
          routerLink="/members/child/cmsg/{{child.Id}}" style="font-size: 40px;"></ion-icon>
        <ion-icon class="iconchild" slot="start" color="primary" name="call"
          (click)="callFunction(child.User.MobileNumber)" style="font-size: 40px;"></ion-icon>
      </ion-item>
    </div>

    <ion-card-content>
      <!-- <p> -->
      <ion-icon color="white" name="person"></ion-icon>
      {{child.FatherName}}
      <!-- </p> -->
      &nbsp; &nbsp;

      <!-- <p> -->
      <ion-icon color="white" name="calendar"></ion-icon>
      {{child.DOB}}
      <!-- </p> -->
      &nbsp; &nbsp;
      <!-- <p> -->
      <ion-icon color="white" name="call"></ion-icon>
      {{child.MobileNumber}}
      <!-- </p> -->
      <br>
      <ion-button disabled="false" size="small" fill="outline" color="primary"
        routerLink="/members/child/vaccine/{{child.Id}}">
        Vaccine
      </ion-button>
      &nbsp; &nbsp;
      <ion-button size="small" fill="outline" color="primary" routerLink="/members/child/followup/{{child.Id}}">
        Follow Up
      </ion-button>
      &nbsp; &nbsp;
      <ion-button disabled size="small" fill="outline" color="primary" routerLink="/members/child/invoice/{{child.Id}}">
        Invoice
      </ion-button>
      &nbsp; &nbsp;
      <ion-button size="small" fill="outline" [color]="child.IsInactive ? 'success' : 'danger'"
        (click)="toggleChildActiveStatus(child.Id)">
        {{ child.IsInactive ? 'Activate' : 'Deactivate' }}
      </ion-button>
      &nbsp; &nbsp;
      <ion-button size="small" fill="outline" color="primary" (click)="downloadPdf(child.Id)">
        PID
      </ion-button>
    </ion-card-content>

  </ion-card>

  <ion-infinite-scroll threshold="100%" (ionInfinite)="loadData()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>