<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Vaccine Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item *ngFor="let v of doses">
    <ion-label>{{v.Name}}</ion-label>
    <!-- <ion-label>{{v.MinAge}}</ion-label> -->
    <ion-select>
      <ion-select-option [value]="v.MinAge">At Birth</ion-select-option>
      <ion-select-option value="7">1 Week</ion-select-option>
      <ion-select-option value="14">2 Weeks</ion-select-option>
      <ion-select-option value="21">3 Weeks</ion-select-option>
      <ion-select-option value="28">4 Weeks</ion-select-option>
      <ion-select-option value="35">5 Weeks</ion-select-option>
      <ion-select-option value="42">6 Weeks</ion-select-option>
      <ion-select-option value="49">7 Weeks</ion-select-option>
      <ion-select-option value="56">8 Weeks</ion-select-option>
      <ion-select-option value="63">9 Weeks</ion-select-option>
      <ion-select-option value="70">10 Weeks</ion-select-option>
      <ion-select-option value="77">11 Weeks</ion-select-option>
      <ion-select-option value="84">3 Months</ion-select-option>
      <ion-select-option value="91">13 Weeks</ion-select-option>
      <ion-select-option value="98">14 Weeks</ion-select-option>
      <ion-select-option value="105">15 Weeks</ion-select-option>
      <ion-select-option value="112">16 Weeks</ion-select-option>
      <ion-select-option value="119">17 Weeks</ion-select-option>
      <ion-select-option value="126">18 Weeks</ion-select-option>
      <ion-select-option value="133">19 Weeks</ion-select-option>
      <ion-select-option value="140">20 Weeks</ion-select-option>
      <ion-select-option value="147">21 Weeks</ion-select-option>
      <ion-select-option value="154">22 Weeks</ion-select-option>
      <ion-select-option value="161">23 Weeks</ion-select-option>
      <ion-select-option value="168">6 Months</ion-select-option>
      <ion-select-option value="212">7 Months</ion-select-option>
      <ion-select-option value="243">8 Months</ion-select-option>
      <ion-select-option value="274">9 Months</ion-select-option>
      <ion-select-option value="304">10 Months</ion-select-option>
      <ion-select-option value="334">11 Months</ion-select-option>
      <ion-select-option value="365">1 Year</ion-select-option>
      <ion-select-option value="395">13 Months</ion-select-option>
      <ion-select-option value="426">14 Months</ion-select-option>
      <ion-select-option value="456">15 Months</ion-select-option>
      <ion-select-option value="486">16 Months</ion-select-option>
      <ion-select-option value="517">17 Months</ion-select-option>
      <ion-select-option value="547">18 Months</ion-select-option>
      <ion-select-option value="578">19 Months</ion-select-option>
      <ion-select-option value="608">20 Months</ion-select-option>
      <ion-select-option value="639">21 Months</ion-select-option>
      <ion-select-option value="669">22 Months</ion-select-option>
      <ion-select-option value="699">23 Months</ion-select-option>
      <ion-select-option value="730">2 Years</ion-select-option>
      <ion-select-option value="760">25 Months</ion-select-option>
      <ion-select-option value="791">26 Months</ion-select-option>
      <ion-select-option value="821">27 Months</ion-select-option>
      <ion-select-option value="851">28 Months</ion-select-option>
      <ion-select-option value="882">29 Months</ion-select-option>
      <ion-select-option value="912">30 Months</ion-select-option>
      <ion-select-option value="943">31 Months</ion-select-option>
      <ion-select-option value="973">32 Months</ion-select-option>
      <ion-select-option value="1004">33 Months</ion-select-option>
      <ion-select-option value="1034">34 Months</ion-select-option>
      <ion-select-option value="1064">35 Months</ion-select-option>
      <ion-select-option value="1095">3 Years</ion-select-option>
      <ion-select-option value="1125">37 Months</ion-select-option>
      <ion-select-option value="1156">38 Months</ion-select-option>
      <ion-select-option value="1186">39 Months</ion-select-option>
      <ion-select-option value="1216">40 Months</ion-select-option>
      <ion-select-option value="1247">41 Months</ion-select-option>
      <ion-select-option value="1277">42 Months</ion-select-option>
      <ion-select-option value="1308">43 Months</ion-select-option>
      <ion-select-option value="1338">44 Months</ion-select-option>
      <ion-select-option value="1369">45 Months</ion-select-option>
      <ion-select-option value="1399">46 Months</ion-select-option>
      <ion-select-option value="1429">47 Months</ion-select-option>
      <ion-select-option value="1460">4 Years</ion-select-option>
      <ion-select-option value="1490">49 Months</ion-select-option>
      <ion-select-option value="1521">50 Months</ion-select-option>
      <ion-select-option value="1551">51 Months</ion-select-option>
      <ion-select-option value="1582">52 Months</ion-select-option>
      <ion-select-option value="1612">53 Months</ion-select-option>
      <ion-select-option value="1642">54 Months</ion-select-option>
      <ion-select-option value="1673">55 Months</ion-select-option>
      <ion-select-option value="1703">56 Months</ion-select-option>
      <ion-select-option value="1734">57 Months</ion-select-option>
      <ion-select-option value="1764">58 Months</ion-select-option>
      <ion-select-option value="1795">59 Months</ion-select-option>
      <ion-select-option value="1825">5 Years</ion-select-option>
      <ion-select-option value="2190">6 Years</ion-select-option>
      <ion-select-option value="2555">7 Years</ion-select-option>
      <ion-select-option value="2920">8 Years</ion-select-option>
      <ion-select-option value="3285">9 Years</ion-select-option>
      <ion-select-option value="3315">9 Year 1 Month</ion-select-option>
      <ion-select-option value="3650">10 Years</ion-select-option>
      <ion-select-option value="3833">10 Year 6 Months</ion-select-option>
      <ion-select-option value="4015">11 Years</ion-select-option>
      <ion-select-option value="4380">12 Years</ion-select-option>
      <ion-select-option value="4745">13 Years</ion-select-option>
      <ion-select-option value="5110">14 Years</ion-select-option>
      <ion-select-option value="5475">15 Years</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button routerLink="/cinfo">Finish</ion-button>
</ion-content>