<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>
    <!-- <ion-title>Messages</ion-title> -->
    <ion-title *ngIf="clinicService.OnlineClinic">
      {{clinicService.OnlineClinic.Name}}
    </ion-title>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-buttons class="ion-justify-content-center" style="border-radius: 5px;">
      <ion-icon style="margin-left: 4%" routerLink="/members/child/add" name="person-add" size="large"> </ion-icon>
      <ion-icon style="margin-left: 4%" routerLink="/members/alert" name="alert" size="large"> </ion-icon>
      <ion-icon style="margin-left: 4%" routerLink="/members/child" name="accessibility-outline" size="large"> </ion-icon>
      <ion-menu-button style="margin-left: 10%"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content padding>


  <div>
    <ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)" value="sendMessages" slot="start">
      <ion-segment-button value="sendMessages">sent messages</ion-segment-button>
      <ion-segment-button value="notsendmessages">failed Messages</ion-segment-button>
    </ion-segment>
  </div>
  <ion-card *ngIf="!Messages">
    <ion-card-header>
      <ion-card-title>No message found !</ion-card-title>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>
  <!-- <ion-card *ngFor="let msg of Messages">
    <ion-card-header>
      <ion-card-title color="primary">
        To: {{msg.toNumber}}
      </ion-card-title>
      <ion-card-subtitle>{{msg.created | date}} <span *ngIf="!msg.status">failed</span> <ion-icon (click)="sendMessage(msg.toNumber , msg.message , msg.created)" *ngIf="!msg.status" color="primary" name="refresh"></ion-icon></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>{{msg.message}}</p>
    </ion-card-content>
  </ion-card> -->
  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'sendMessages'">
      <ion-card *ngFor="let msg of Messages">
        <div *ngIf="msg.status">
          <ion-card-header>
            <ion-card-title color="primary">
              To: {{msg.toNumber}}
            </ion-card-title>
            <ion-card-subtitle>{{msg.created | date}} <span *ngIf="!msg.status">failed</span>
              <ion-icon (click)="sendMessage(msg.toNumber , msg.message , msg.created)" *ngIf="!msg.status"
                color="primary" name="refresh"></ion-icon>
            </ion-card-subtitle>
          </ion-card-header>


          <ion-card-content>
            <p>{{msg.message}}</p>
          </ion-card-content>
        </div>
      </ion-card>
    </ion-list>
  </div>



  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'notsendmessages'">
      <ion-card *ngFor="let msg of Messages">
        <div *ngIf="!msg.status">
          <ion-card-header>
            <ion-card-title color="primary">
              To: {{msg.toNumber}}
            </ion-card-title>
            <ion-card-subtitle>{{msg.created | date}} <span *ngIf="!msg.status" class="spansize">failed</span>
              <ion-icon (click)="sendMessage(msg.toNumber , msg.message , msg.created)" *ngIf="!msg.status"
                color="primary" name="sync-outline" size="large"></ion-icon>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>{{msg.message}}</p>
          </ion-card-content>
        </div>
      </ion-card>
    </ion-list>
  </div>



</ion-content>