<div class="pdf-pop">
  <div class="pdf-pop-title">Choose Schedule Type</div>
  <div class="pdf-pop-btn" (click)="choose('adult')">
    <ion-icon name="person-outline" class="pdf-pop-ic"></ion-icon>
    <span>Adult</span>
  </div>
  <div class="pdf-pop-btn" (click)="choose('pregnancy')">
    <ion-icon name="heart-outline" class="pdf-pop-ic"></ion-icon>
    <span>Pregnancy</span>
  </div>
  <div class="pdf-pop-btn" (click)="choose('blank')">
    <ion-icon name="document-outline" class="pdf-pop-ic"></ion-icon>
    <span>Simple Blank</span>
  </div>
</div>
