<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="page-wrap">
  <ion-card>
    <form [formGroup]="fg">

      <ion-item class="custom-item-background">
        <ion-label color="primary" position="floating">Printed Name</ion-label>
        <ion-input type="text" formControlName="DisplayName" class="ion-text-capitalize" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.displayName">
          <div class="error-message"
            *ngIf="fg.get('DisplayName').hasError(validation.type) && (fg.get('DisplayName').dirty || fg.get('DisplayName').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item class="custom-item-background">
        <ion-label color="primary" position="floating">Email</ion-label>
        <ion-input type="text" formControlName="Email" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message"
            *ngIf="fg.get('Email').hasError(validation.type) && (fg.get('Email').dirty || fg.get('Email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item class="custom-item-background">
        <ion-label color="primary" position="floating">Password</ion-label>
        <ion-input type="password" formControlName="Password" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="fg.get('Password').hasError(validation.type) && (fg.get('Password').dirty || fg.get('Password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item class="custom-item-background">
        <ion-label color="primary" position="floating">Confirm Password</ion-label>
        <ion-input type="password" formControlName="ConfirmPassword" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.confirmPassword">
          <div class="error-message"
            *ngIf="fg.get('ConfirmPassword').hasError(validation.type) && (fg.get('ConfirmPassword').dirty || fg.get('ConfirmPassword').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-grid>
        <ion-row class="form-row">
          <ion-col size="4">
            <ion-item class="custom-item-background">
              <ion-label color="primary" position="floating">Country Code</ion-label>
              <ion-select formControlName="CountryCode">
                <ion-select-option *ngFor="let country of countryCodes" [value]="country.code">(+{{ country.code }}) {{
                  country.name }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="8">
            <ion-item class="custom-item-background">
              <ion-label color="primary" position="floating">Mobile Number With WhatsApp</ion-label>
              <ion-input type="text" formControlName="MobileNumber" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.mobileNumber">
          <div class="error-message"
            *ngIf="fg.get('MobileNumber').hasError(validation.type) && (fg.get('MobileNumber').dirty || fg.get('MobileNumber').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </form>
    <ion-button (click)="nextpage()" [disabled]="!fg.valid && !isSubmitted && hasValidationErrors()"
      style="display: block; margin: auto; width: 150px; margin-top: 15px; margin-bottom: 15px;">
      {{ isSubmitted && fg.valid ? 'Processing...' : 'Sign Up' }}
    </ion-button>
  </ion-card>
  </div>
</ion-content>
