ion-content{
  --background: #fff url('../../../../assets/signup.jpg') no-repeat center center / cover;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-item-background {
  --background: rgba(161, 161, 161, 0); /* Replace 'your-color' with the desired background color */
  border-radius: 2px;
  color: #fff;
}
