<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Invoice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="fg" (ngSubmit)="onSubmit()">
    <ion-card *ngFor="let bulk of bulkData">
    <ion-item >
      <b style="padding-right:10%">vaccine:</b> {{bulk.Dose.Name}}
      </ion-item>
      <ion-item >
        <b style="padding-right:10%">brand</b> <ion-select [(ngModel)]="bulk.BrandId" [ngModelOptions]="{standalone: true}" disabled>
          <ion-select-option *ngFor="let user1 of bulk.Brands; let i = index;" selected [value]="user1.Id">{{user1.Name}}
          </ion-select-option>
        </ion-select>
        </ion-item>
        <ion-item >
          <b style="padding-right:10%">Amount</b>
          <ion-input [(ngModel)]="bulk.Amount" 
                     placeholder="Enter Amount" 
                     position="end" 
                     type="text" 
                     [ngModelOptions]="{standalone: true}" 
                     (input)="validateInput($event)"
                     [disabled]="usertype === 'PA'">
          </ion-input>
          <div *ngIf="!isValidInput" style="color: red;">Please enter only numbers.</div>
                    </ion-item>
      </ion-card>
     
      <ion-item style="padding:10px 0 10px" >
        <b style="padding-right:10%">Consultation Fee</b>
        <ion-input formControlName="ConsultationFee" placeholder="Enter Amount" position="end" type="text" [disabled]="usertype === 'PA'"></ion-input>
        <div *ngIf="fg.get('ConsultationFee').hasError('invalidNumber') && (fg.get('ConsultationFee').dirty || fg.get('ConsultationFee').touched)">
          <ion-text color="danger">Please enter only numbers.</ion-text>
        </div>
          <ion-checkbox formControlName="IsConsultationFee"></ion-checkbox>
        </ion-item>
        <ion-button [disabled]="hasActiveValidations()" (click)="saveanddownload()">Download</ion-button>
        
  </form>
</ion-content>