<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Vaccine Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  

  <ion-item *ngFor ="let dose of doses let i = index">
    <!-- <ion-checkbox [(ngModel)]="dose.IsSpecial" slot="start"></ion-checkbox> -->
    <ion-checkbox   [(ngModel)]="dose.IsSpecial" slot="start"></ion-checkbox>
    <ion-label>{{dose.Name}}</ion-label>
  </ion-item>
  
  <ion-button (click)="getdoses()" type="submit">Finish</ion-button> 


</ion-content>