<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="signup/step2"></ion-back-button> -->
    </ion-buttons>
    <ion-title>Vaccine Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="doses">
  <ion-card>
    <form [formGroup]="fg" (ngSubmit)="onSubmit()"> 
      
      <ion-item class="custom-item-background" *ngFor="let dose of doses let i = index">
        <ion-checkbox [(ngModel)] = "dose.IsSpecial" [ngModelOptions]="{standalone: true}"></ion-checkbox>
        <ion-label style="margin-left: 20px;">{{dose.Name}}</ion-label>  
      </ion-item>      
    </form>
  </ion-card>


  
  <ion-button style="display: block; margin: auto; width: 150px;"  (click) = "onSubmit()">Finish</ion-button> 
</ion-content>