<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-item (click)="picker.open()">
        <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>

  <div *ngIf="birthdayChild.length === 0" class="no-birthday-alert">
    <h1 style="color: red">No birthday alert for today.</h1>
  </div>

  <ion-grid *ngIf="birthdayChild.length > 0">
    <ion-row>
      <ion-col>
        <ion-item *ngFor="let child of birthdayChild">
          <ion-label>{{ child.Name }}</ion-label>
          <ion-icon 
            slot="end" 
            color="primary" 
            name="mail"
            (click)="sendemail([child])"
            style="cursor: pointer"
            >
          </ion-icon>
          <ion-icon
            slot="end"
            [color]="child.isMessageSent ? 'primary' : 'success'"
            name="logo-whatsapp"
            (click)="openWhatsApp(child.User.MobileNumber, child.Name, child.DOB, child)"
            style="cursor: pointer">
          </ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
