<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>
    <ion-title>Vacation</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary" >
    <ion-buttons class="ion-justify-content-center" style="border-radius: 5px;">
      <ion-icon style="margin-left: 10%" routerLink="/members/child/add"  name="person-add" size="large" > </ion-icon>
      <ion-icon style="margin-left: 10%" routerLink="/members/alert"  name="alert" size="large" > </ion-icon>
      <ion-icon style="margin-left: 10%" routerLink="/members/doctor/clinic" name="medkit" size="large" > </ion-icon>
      <ion-menu-button style="margin-left: 10%"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="fg2">
  

    <ion-item (click)="picker.open()"> 
      <ion-label color="primary" >From Date</ion-label>
       <input formControlName="formDate" matInput [matDatepicker]="picker" value="{{todaydate}}">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
</ion-item>

    <ion-item (click)="picker.open()"> 
      <ion-label color="primary" >To Date</ion-label>
       <input disabled formControlName="ToDate" matInput [matDatepicker]="picker1" value="{{todaydate}}">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 disabled="false"></mat-datepicker>
</ion-item>
    <h1>Clinics</h1>
    <ion-item formArrayName="clinics" *ngFor="let a of fg2.get('clinics')['controls']; let i = index">
      <ion-label color="primary"> {{clinics[i].Name}}</ion-label>
      <ion-checkbox slot="start" required [formControlName]="i"></ion-checkbox>
    </ion-item>

    <ion-button (click)="getChildVaccinefromUser()">Go</ion-button>
  </form>
</ion-content>