input
{
    border:0;
    width: 58%
}

mat-datepicker-toggle{
    color: white !important;
}
.clinic-select {
  text-align: center;        /* center text */
  justify-content: center;   /* center flex container */
}
