<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Vacation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="fg2">
    <ion-item>
      <ion-label color="primary" position="floating" (click)="picker.open()">From Date</ion-label>
      <ion-datetime picker-format="DD-MM-YYYY" value="{{todaydate}}" (ionChange)="pickFromDate($event)">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating" (click)="picker1.open()">To Date</ion-label>
      <ion-datetime picker-format="DD-MM-YYYY" value="{{todaydate}}" (ionChange)="pickTodayDate($event)"></ion-datetime>

    </ion-item>
    <h1>Clinics</h1>
    <ion-item formArrayName="clinics" *ngFor="let a of fg2.controls.clinics.controls; let i = index">
      <ion-label color="primary"> {{clinics[i].Name}}</ion-label>
      <ion-checkbox slot="start" required [formControlName]="i"></ion-checkbox>
    </ion-item>

    <ion-button (click)="getChildVaccinefromUser()">Go</ion-button>
  </form>
</ion-content>