.table-container {
  overflow-x: auto;
  margin: 16px 0;
  
  table {
    width: 100%;
    border-collapse: collapse;
    // background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    
    th, td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid var(--ion-color-light-shade);
    }
    
    th {
      background: var(--ion-color-primary);
      color: white;
      font-weight: 500;
      font-size: 0.9rem;
      text-transform: uppercase;
    }
    
    td {
      font-size: 0.95rem;
      
      ion-badge {
        padding: 4px 8px;
        border-radius: 4px;
      }
    }
    
    tr:hover {
      background-color: var(--ion-color-light);
    }
  }
}
ion-card {
  margin: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  ion-card-header {
    padding: 16px;

    ion-card-subtitle {
      font-size: 14px;
      color: gray;
    }

    ion-card-title {
      font-size: 24px;
      font-weight: bold;
      color: var(--ion-color-primary);
    }
  }
}
ion-checkbox {
  margin: 0 25%;
}
ion-fab {
  z-index: 10; /* Ensure it stays above other elements */
}
ion-fab-button {
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.clinic-select {
  text-align: center;        /* center text */
  justify-content: center;   /* center flex container */
}
