<ion-content padding>

  <div style="margin-left:25%;">
    <ion-button fill="outline" (click)="getLast5daysChlid()">last 5 days</ion-button>
    <ion-button fill="outline" (click)="getTodayChlid()">Today</ion-button>
    <ion-button fill="outline" (click)="getNext5DaysChlid()">Next 5 days</ion-button>
  </div>
  <ion-icon size="large" color="primary" name="mail" (click)="alertDeletevaccine()"></ion-icon>

  <!-- last 5 days childs -->
  <div *ngIf="last5Days==true">
    <p>last 5 days childs</p>
    <ion-grid *ngFor="let child of last5DaysAlert">

      <ion-row *ngIf="child.Child.Gender=='Boy'">

        <ion-col size="1">
          <ion-avatar><img src="../../assets/male.png" style="padding:10px;"></ion-avatar>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label>{{child.Child.Name}}</ion-label>
            <ion-icon slot="end" color="primary" name="call" routerLink="/members/child/edit/"></ion-icon>
            <ion-icon slot="end" color="primary" name="mail"
              (click)="sendIndividualAlertMsg_Last5Days_Child(child.ChildId)">
            </ion-icon>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row *ngIf="child.Child.Gender=='Girl'">

        <ion-col size="1">
          <ion-avatar><img src="../../assets/female.png" style="padding:10px;"></ion-avatar>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label>{{child.Child.Name}}</ion-label>
            <ion-icon slot="end" color="primary" name="call" routerLink="/members/child/edit/"></ion-icon>
            <ion-icon slot="end" color="primary" name="mail"
              (click)="sendIndividualAlertMsg_Last5Days_Child(child.ChildId)">
            </ion-icon>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>

  </div>

  <!-- Today childs -->
  <div *ngIf="today==true">
    <p>Today</p>
    <ion-grid *ngFor="let child of todayAlert">

      <ion-row *ngIf="child.Child.Gender=='Boy'">

        <ion-col size="1">
          <ion-avatar><img src="../../assets/male.png" style="padding:10px;"></ion-avatar>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label>{{child.Child.Name}}</ion-label>
            <ion-icon slot="end" color="primary" name="call" routerLink="/members/child/edit/"></ion-icon>
            <ion-icon slot="end" color="primary" name="mail"
              (click)="sendIndividualAlertMsg_Today_Child(child.ChildId)">
            </ion-icon>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row *ngIf="child.Child.Gender=='Girl'">

        <ion-col size="1">
          <ion-avatar><img src="../../assets/female.png" style="padding:10px;"></ion-avatar>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label>{{child.Child.Name}}</ion-label>
            <ion-icon slot="end" color="primary" name="call" routerLink="/members/child/edit/"></ion-icon>
            <ion-icon slot="end" color="primary" name="mail"
              (click)="sendIndividualAlertMsg_Today_Child(child.ChildId)">
            </ion-icon>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>

  </div>

  <!-- Next 5 days childs -->
  <div *ngIf="next5Days==true">
    <p>Next 5 Days Alert</p>
    <ion-grid *ngFor="let child of Next5DaysAlert">

      <ion-row *ngIf="child.Child.Gender=='Boy'">

        <ion-col size="1">
          <ion-avatar><img src="../../assets/male.png" style="padding:10px;"></ion-avatar>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label>{{child.Child.Name}}</ion-label>
            <ion-icon slot="end" color="primary" name="call" routerLink="/members/child/edit/"></ion-icon>
            <ion-icon slot="end" color="primary" name="mail"
              (click)="sendIndividualAlertMsg_Next5Days_Child(child.ChildId)">
            </ion-icon>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row *ngIf="child.Child.Gender=='Girl'">

        <ion-col size="1">
          <ion-avatar><img src="../../assets/female.png" style="padding:10px;"></ion-avatar>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label>{{child.Child.Name}}</ion-label>
            <ion-icon slot="end" color="primary" name="call" routerLink="/members/child/edit/"></ion-icon>
            <ion-icon slot="end" color="primary" name="mail"
              (click)="sendIndividualAlertMsg_Next5Days_Child(child.ChildId)">
            </ion-icon>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>

  </div>
</ion-content>