<ion-header>
  <ion-toolbar>
     <ion-item>
    <ion-label position="floating">Select Clinic</ion-label>
    <ion-select [(ngModel)]="selectedClinicId" (ionChange)="onClinicChange($event)">
      <ion-select-option *ngFor="let clinic of clinics" [value]="clinic.Id">
        {{ clinic.Name }}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-toolbar> 
  <ion-toolbar color="primary">
    <ion-buttons class="ion-justify-content-center" style="border-radius: 5px;">
            <ion-icon
        style="margin-left: 10%; cursor: pointer"
        routerLink="/members/child/add"
        name="person-add"
        size="large"
      >
      </ion-icon>
      <ion-icon
        style="margin-left: 10%; cursor: pointer"
        routerLink="/members/alert"
        name="alert"
        size="large"
      >
      </ion-icon>
       <ion-icon style="margin-left: 10%;cursor: pointer;" routerLink="/members/child" name="accessibility-outline" size="large"> </ion-icon>
      <ion-menu-button style="margin-left: 10%;cursor: pointer;"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" fill="outline" [disabled]="Childs == 0" (click)="sendemails()">Email</ion-button>
      <ion-button color="primary" fill="outline" [disabled]="Childs == 0" (click)="downloadcsv()">Sheet</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-item (click)="picker.open()">
        <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar>
     <ion-item>
    <ion-label position="floating">Select Clinic</ion-label>
    <ion-select [(ngModel)]="selectedClinicId" (ionChange)="onClinicChange($event)">
      <ion-select-option *ngFor="let clinic of clinics" [value]="clinic.Id">
        {{ clinic.Name }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  </ion-toolbar> -->
  <h1 *ngIf="Childs == 0" style="color: red;">No alert found</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item *ngFor="let child of Childs">
          <ion-label style="cursor: pointer;" [routerLink]="['/members/child/vaccine', child.Child.Id]">{{child.Child.Name}}</ion-label>
          <ion-icon slot="end" color="primary" name="mail" (click)="sendemail([child])" style="cursor: pointer;"></ion-icon>
          <ion-icon 
            slot="end" 
            [color]="child.isMessageSent ? 'primary' : 'success'" 
            name="logo-whatsapp" 
            (click)="openWhatsApp(child.Child.User.MobileNumber, child.Child.Name, child.Dose.Name, child)" 
            style="cursor: pointer;">
          </ion-icon>
        </ion-item>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>