<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/members/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Assignments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="assignments.length === 0 && !loading" class="empty-state">
    <ion-icon name="clipboard-outline"></ion-icon>
    <p>No active assignments</p>
  </div>

  <ion-card *ngFor="let a of assignments" [ngClass]="[a.Gender === 'Girl' ? 'girl' : 'boy', isBulkGroup(a) ? 'bulk-group' : '']">

    <div class="icons">
      <div class="icons-left">
        <ion-thumbnail class="icons-thumb">
          <ion-img [src]="a.Gender === 'Girl' ? '../../../assets/female.png' : '../../../assets/male.png'"></ion-img>
        </ion-thumbnail>
        <span class="icons-name">{{ a.Name }}</span>
        <ion-badge *ngIf="isBulkGroup(a)" class="bulk-badge" color="warning">
          <ion-icon name="layers-outline"></ion-icon> {{ a.Schedules.length }} vaccines
        </ion-badge>
      </div>
      <div class="icons-right">
        <ion-icon
          name="checkmark-done-circle-outline"
          class="iconchild complete-icon"
          (click)="confirmComplete(a)">
        </ion-icon>
        <ion-icon
          name="close-circle-outline"
          class="iconchild cancel-icon"
          (click)="confirmCancel(a.AssignmentId, a.Name)">
        </ion-icon>
      </div>
    </div>

    <ion-card-content>
      <ion-icon name="person"></ion-icon> {{ a.FatherName }}
      &nbsp;&nbsp;
      <ion-icon name="calendar"></ion-icon> {{ a.DOB | date:'dd MMM yyyy' }}
      <br>
      <ion-badge color="warning" *ngIf="hasUnpaidSchedules(a)" class="payment-pending-badge">
        <ion-icon name="cash-outline"></ion-icon> Payment Pending
      </ion-badge>
      <br>
      <ion-button size="small" fill="outline" color="primary"
        routerLink="/members/child/vaccine/{{ a.ChildId }}">
        Vaccine
      </ion-button>
      &nbsp;
      <ion-button size="small" fill="outline" color="primary"
        routerLink="/members/child/followup/{{ a.ChildId }}">
        Follow Up
      </ion-button>
      <div *ngIf="a.Notes" class="assignment-notes">
        <ion-icon name="document-text-outline"></ion-icon> {{ a.Notes }}
      </div>
    </ion-card-content>

  </ion-card>

</ion-content>
