.error-message {
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

  ion-img {
    width: 120px;
    height: 100px;
}

.VerticalAlignMiddle{
  vertical-align: middle;
}

.LeftPaddingToggle{
  padding-left: 20px;
}