<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Clinic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="fg1">
    <ion-item>
      <ion-label color="primary" position="floating">Name</ion-label>
      <ion-input type="text" formControlName="Name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Phone Number</ion-label>
      <ion-input type="text" formControlName="PhoneNumber" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Address</ion-label>
      <ion-input type="text" formControlName="Address" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Consultation Fee</ion-label>
      <ion-input type="text" formControlName="ConsultationFee" required></ion-input>
    </ion-item>
    <form [formGroup]="fg2">
      <ion-card>
        <ion-item>
          <ion-card-title>Monday</ion-card-title>
          <ion-toggle slot="end" color="primary" formControlName="Monday"></ion-toggle>
        </ion-item>
        <ion-card-content>
          <ion-item>
            <ion-label color="primary" position="floating">Start Date</ion-label>
            <ion-datetime formControlName="Mstart" display-format="h:mm a"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label color="primary" position="floating">End Time</ion-label>
            <ion-datetime formControlName="Mend" display-format="h:mm a"></ion-datetime>
          </ion-item>
        </ion-card-content>
      </ion-card>


      <ion-card>
        <ion-card-header>
          <ion-card-title>Tuesday <ion-toggle color="primary" formControlName="Tuesday"></ion-toggle>
          </ion-card-title>
        </ion-card-header>

        <ion-item>
          <ion-label color="primary" position="floating">Start Date</ion-label>
          <ion-datetime formControlName="Tustart" display-format="h:mm a"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">End Time</ion-label>
          <ion-datetime formControlName="Tuend" display-format="h:mm a"></ion-datetime>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Wednesday <ion-toggle color="primary" formControlName="Wednesday"></ion-toggle>
          </ion-card-title>
        </ion-card-header>

        <ion-item>
          <ion-label color="primary" position="floating">Start Date</ion-label>
          <ion-datetime formControlName="Wstart" display-format="h:mm a"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">End Time</ion-label>
          <ion-datetime formControlName="Wend" display-format="h:mm a"></ion-datetime>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Thursday <ion-toggle color="primary" formControlName="Thursday"></ion-toggle>
          </ion-card-title>
        </ion-card-header>

        <ion-item>
          <ion-label color="primary" position="floating">Start Date</ion-label>
          <ion-datetime formControlName="Thstart" display-format="h:mm a"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">End Time</ion-label>
          <ion-datetime formControlName="Thend" display-format="h:mm a"></ion-datetime>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Friday <ion-toggle color="primary" formControlName="Friday"></ion-toggle>
          </ion-card-title>
        </ion-card-header>

        <ion-item>
          <ion-label color="primary" position="floating">Start Date</ion-label>
          <ion-datetime formControlName="Fstart" display-format="h:mm a"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">End Time</ion-label>
          <ion-datetime formControlName="Fend" display-format="h:mm a"></ion-datetime>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Saturday <ion-toggle color="primary" formControlName="Saturday"></ion-toggle>
          </ion-card-title>
        </ion-card-header>

        <ion-item>
          <ion-label color="primary" position="floating">Start Date</ion-label>
          <ion-datetime formControlName="Sastart" display-format="h:mm a"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">End Time</ion-label>
          <ion-datetime formControlName="Saend" display-format="h:mm a"></ion-datetime>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Sunday <ion-toggle color="primary" formControlName="Sunday"></ion-toggle>
          </ion-card-title>
        </ion-card-header>

        <ion-item>
          <ion-label color="primary" position="floating">Start Date</ion-label>
          <ion-datetime formControlName="Sustart" display-format="h:mm a"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label color="primary" position="floating">End Time</ion-label>
          <ion-datetime formControlName="Suend" display-format="h:mm a"></ion-datetime>
        </ion-item>
      </ion-card>
    </form>

    <ion-button (click)="getdata()">submit</ion-button>
  </form>


</ion-content>