<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
    <ion-button slot="end" routerLink="/signup">Signup</ion-button>
  </ion-toolbar>
</ion-header> -->

<ion-content *ngIf="!forgot">

  <ion-card *ngIf="fg" style="background-color: rgba(105, 104, 107, 0.521);">
    <ion-card-content>

      <form [formGroup]="fg">

        <!-- <ion-label color="primary" position="floating" class="ion-margin-top">
          Country Code
        </ion-label> -->
        <!-- <ion-select formControlName="CountryCode">
              <ion-select-option *ngFor="let country of countryCodes" [value]="country.code">
                (+{{ country.code }}) {{ country.name }} 
              </ion-select-option>
            </ion-select> -->
        <ion-label style="color: white;" position="floating" class="ion-margin-top">
          <ion-icon name="mail" class="ion-item-start"></ion-icon>
          Mobile Number
        </ion-label>

        <div style="display: flex; color: white; ;">
          <ion-select formControlName="CountryCode" style="border-bottom: 1px solid">
            <ion-select-option *ngFor="let country of countryCodes" [value]="country.code">
              (+{{ country.code }}) {{ country.name }}
            </ion-select-option>
          </ion-select>
          <ion-input type="text" formControlName="MobileNumber" class="number-input"></ion-input>
        </div>
        <div *ngIf="fg.get('MobileNumber').invalid && (fg.get('MobileNumber').dirty || fg.get('MobileNumber').touched)">
          <div *ngIf="fg.get('MobileNumber').errors">
            <div style="color: red;" *ngIf="fg.get('MobileNumber').errors.required">
              Mobile number is required.
            </div>
            <div style="color: red;" *ngIf="fg.get('MobileNumber').errors.onlyNumbers">
              Please enter only numbers.
            </div>

          </div>
        </div>


        <ion-label style="color: white;" position="floating" class="ion-margin-top">
          <ion-icon name="lock-closed" class="ion-item-start"></ion-icon>
          Password
        </ion-label>
        <div style="display: flex; align-items: center;">
          <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="Password"
            [class.invalid-input]="fg.get('Password').invalid && (fg.get('Password').dirty || fg.get('Password').touched)"
            style="flex: 1; margin-right: -11px;" (ionInput)="onInputChange($event)"></ion-input>
          <ion-button fill="clear" (click)="togglePasswordVisibility()" style="margin-left: -40px; z-index: 2;"
            [ngClass]="{'icon-filled': fg.get('Password').value}">
            <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </div>

        <div *ngIf="fg.get('Password').invalid && (fg.get('Password').dirty || fg.get('Password').touched)">
          <div *ngIf="fg.get('Password').errors">
            <div style="color: red;" *ngIf="fg.get('Password').errors.required">
              Password is required.
            </div>
            <div style="color: red;" *ngIf="fg.get('Password').errors.minlength">
            </div>
          </div>
        </div>


        <ion-button class="ion-margin-top" expand="full" color="tertiary" (click)="login()"
          [disabled]="isFormInvalid()">
          <ion-icon name="log-in"></ion-icon>&nbsp;
          Login
        </ion-button>

      </form>

      <div class="auth-links">
        <ion-text class="auth-link ion-text-right">
          <a routerLink="/forget" class="link">
            <h2 class="link-heading">Forget Password</h2>
          </a>
        </ion-text>
        <ion-text class="auth-link ion-text-center">
          <a routerLink="/loginpa" class="link">
            <h2 class="link-heading">Personal Assistant</h2>
          </a>
        </ion-text>
        <ion-text class="auth-link ion-text-left">
          <a routerLink="/signup" class="link">
            <h2 class="link-heading">Signup</h2>
          </a>
        </ion-text>
      </div>
      <style>
        .auth-links {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4px;
          padding: 8px;
          width: 100%;
          box-sizing: border-box;
          overflow: hidden;
          flex-wrap: nowrap;
        }
        .auth-link {
          flex: 1 1 auto;
          min-width: 0;
          text-align: center;
          overflow: hidden;
        }
        .link {
          text-decoration: none;
          display: block;
          width: 100%;
          overflow: hidden;
        }
        .link-heading {
          margin: 0;
          font-size: clamp(11px, 2.5vw, 14px); 
          color: white;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: center;
        }
        @media (max-width: 375px) {
          .auth-links {
            gap: 2px;
          }
      
          .link-heading {
            font-size: 11px;
          }
        }
      </style>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-content *ngIf="forgot">

  <ion-card style="background-color: #d3cccc94;">
    <ion-card-content>

      <ion-label color="primary" position="floating" class="ion-margin-top">
        <ion-icon name="mail" class="ion-item-start"></ion-icon>
        Mobile Number
      </ion-label>
      <ion-input type="text" [(ngModel)]="MobileNumber"></ion-input>


      <ion-button class="ion-margin-top" expand="full" color="tertiary" (click)="sendPassword()">
        <ion-icon name="log-in"></ion-icon>&nbsp;
        Send Password
      </ion-button>


    </ion-card-content>
  </ion-card>

</ion-content>