<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>
    <ion-title>Brand Amount</ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark" >
    <ion-buttons class="ion-justify-content-center" style="border-radius: 5px;">
      <ion-icon style="margin-left: 10%" routerLink="/members/child/add"  name="person-add" size="large" > </ion-icon>
      <ion-icon style="margin-left: 10%" routerLink="/members/alert"  name="alert" size="large" > </ion-icon>
      <ion-icon style="margin-left: 10%" routerLink="/members/doctor/clinic" name="medkit" size="large" > </ion-icon>
      <ion-menu-button style="margin-left: 10%"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form>
    <ion-grid>
      <ion-row style="background: rgb(0, 0, 0); color: white;">
        <ion-col>Vaccine Name</ion-col>
        <ion-col>Brand Name</ion-col>
        <ion-col>Price</ion-col>
      </ion-row>
      <ion-row *ngFor="let b of brandAmount">
        <ion-col>{{b.VaccineName}}</ion-col>
        <ion-col>{{b.BrandName}}</ion-col>
        <ion-col>
          <ion-input [(ngModel)]="b.Amount" [ngModelOptions]="{standalone: true}" type="number"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button disabled="false" (click)="updateBrandAmount()" color="dark">Update Amount</ion-button>
  </form>

</ion-content>