<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>
    <ion-title>Brand Inventory</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary" >
    <ion-buttons class="ion-justify-content-center" style="border-radius: 5px;">
      <ion-icon style="margin-left: 10%" routerLink="/members/child/add"  name="person-add" size="large" > </ion-icon>
      <ion-icon style="margin-left: 10%" routerLink="/members/alert"  name="alert" size="large" > </ion-icon>
      <ion-icon style="margin-left: 10%" routerLink="/members/doctor/clinic" name="medkit" size="large" > </ion-icon>
      <ion-menu-button style="margin-left: 10%"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <ion-grid>
      <ion-row class="header-row">
        <ion-col class="header-col">Vaccine Name</ion-col>
        <ion-col class="header-col">Brand Name</ion-col>
        <ion-col class="header-col">Price</ion-col>
        <ion-col class="header-col">Inventory</ion-col>
      </ion-row>
      <ion-row *ngFor="let b of brandAmounts" class="data-row">
        <ion-col class="center-text" style="margin-top: 10px;">{{b.VaccineName}}</ion-col>
        <ion-col class="center-text" style="margin-top: 10px;">{{b.BrandName}}</ion-col>
        <ion-col class="center-text">
          <ion-input [(ngModel)]="b.Amount" [ngModelOptions]="{standalone: true}" type="tel" #amountInput="ngModel" required pattern="^[0-9]*$"></ion-input>
          <div *ngIf="amountInput.invalid && (amountInput.dirty || amountInput.touched)">
            <div *ngIf="amountInput.errors?.required" class="error">Amount is required.</div>
          </div> 
        </ion-col>
        <ion-col class="center-text">
          <ion-input [(ngModel)]="b.Count" [ngModelOptions]="{standalone: true}" type="tel" #inventoryInput="ngModel" required pattern="^[0-9]*$"></ion-input>
          <div *ngIf="inventoryInput.invalid && (inventoryInput.dirty || inventoryInput.touched)">
            <div *ngIf="inventoryInput.errors?.required" class="error">Inventory is required.</div>
          </div> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed" style="margin-right: 10px;">
    <ion-fab-button routerLink="/members/doctor/brand-amount/update" (click)="updateBrandAmount()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

