<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Doctor Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <img class="background-image" src="../../assets/login.jpg" />  -->

  <ion-card>
    <ion-card-content>

      <form [formGroup]="fg">
        <ion-list no-line>
          <ion-item>
            <ion-label color="primary" position="floating">
              <ion-icon name="mail" item-start></ion-icon>
              User Name
            </ion-label>
            <ion-input type="email" formControlName="MobileNumber"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="primary" position="floating">
              <ion-icon name="lock" item-start></ion-icon>
              Password
            </ion-label>
            <ion-input type="password" formControlName="Password"></ion-input>
          </ion-item>
        </ion-list>
      </form>

      <ion-text text-right color="dark">
        <h2>Forgot Password?</h2>
      </ion-text>

      <ion-button color="dark" (click)="login()">
        <ion-icon name="log-in"></ion-icon>
        Submit
      </ion-button>



    </ion-card-content>
  </ion-card>

</ion-content>