<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <form [formGroup]="fg">
    <ion-item>
      <ion-label color="primary" position="floating">Old Password</ion-label>
      <ion-input type="password" formControlName="OldPassword" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.old_password">
        <div class="error-message"
          *ngIf="fg.get('OldPassword').hasError(validation.type) && (fg.get('OldPassword').dirty || fg.get('OldPassword').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div formGroupName="matching_passwords">
      <ion-item>
        <ion-label color="primary" position="floating">New Password</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="fg.get('matching_passwords').get('password').hasError(validation.type) && (fg.get('matching_passwords').get('password').dirty || fg.get('matching_passwords').get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label color="primary" position="floating">Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirm_password" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.confirm_password">
          <div class="error-message"
            *ngIf="fg.get('matching_passwords').get('confirm_password').hasError(validation.type) && (fg.get('matching_passwords').get('confirm_password').dirty || fg.get('matching_passwords').get('confirm_password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.matching_passwords">
        <div class="error-message"
          *ngIf="fg.get('matching_passwords').hasError(validation.type) && (fg.get('matching_passwords').get('confirm_password').dirty || fg.get('matching_passwords').get('confirm_password').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-button [disabled]="!fg.valid" (click)="changePassword()">Submit</ion-button>
  </form>


</ion-content>