<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <form [formGroup]="fg">
    <ion-item>
      <ion-label color="primary" position="floating">Old Password</ion-label>
      <ion-input type="text" formControlName="OldPassword" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">New Password</ion-label>
      <ion-input type="text" formControlName="NewPassword" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Confirm Password</ion-label>
      <ion-input type="text" formControlName="ConfirmPassword" required></ion-input>
    </ion-item>
    <ion-button [disabled]="!fg.valid" (click)="addNewChild()">Submit</ion-button>
  </form>


</ion-content>