ion-content{
  --background: radial-gradient(circle at top, #a1b8ef , #a1b8ef)
}

.error-message
{
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

.custom-item-background {
  --background: rgba(8, 8, 8, 0); /* Replace 'your-color' with the desired background color */
  border-radius: 2px;
  color: #fff;
}

.header{
  background-color: black;
}