.error-message
{
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}


.header{
  background-color: rgb(0, 137, 249);
}
.clinic-select {
  text-align: center;        /* center text */
  justify-content: center;   /* center flex container */
}
