<ion-content class="ion-padding" *ngIf="doses.length > 0">
  <form [formGroup]="fg">
    <div class="schedule-container">
      <ion-item *ngFor="let dose of doses" class="schedule-item">
        <ion-checkbox [(ngModel)]="dose.IsActive" [ngModelOptions]="{standalone: true}" slot="start"></ion-checkbox>
        <ion-label>{{ dose.label }}</ion-label>
        <ion-select [formControlName]="dose.doseId + ''" *ngIf="dose.IsActive">
          <ion-select-option value="0">At Birth</ion-select-option>
          <ion-select-option value="1">1 Day</ion-select-option>
          <ion-select-option value="2">2 Days</ion-select-option>
          <ion-select-option value="3">3 Days</ion-select-option>
          <ion-select-option value="4">4 Days</ion-select-option>
          <ion-select-option value="5">5 Days</ion-select-option>
          <ion-select-option value="6">6 Days</ion-select-option>
          <ion-select-option value="8">8 Days</ion-select-option>
          <ion-select-option value="15">15 Days</ion-select-option>
          <ion-select-option value="29">29 Days</ion-select-option>
          <ion-select-option value="7">1 Week</ion-select-option>
          <ion-select-option value="14">2 Weeks</ion-select-option>
          <ion-select-option value="21">3 Weeks</ion-select-option>
          <ion-select-option value="28">4 Weeks</ion-select-option>
          <ion-select-option value="35">5 Weeks</ion-select-option>
          <ion-select-option value="42">6 Weeks</ion-select-option>
          <ion-select-option value="49">7 Weeks</ion-select-option>
          <ion-select-option value="56">8 Weeks</ion-select-option>
          <ion-select-option value="63">9 Weeks</ion-select-option>
          <ion-select-option value="70">10 Weeks</ion-select-option>
          <ion-select-option value="77">11 Weeks</ion-select-option>
          <ion-select-option value="84">12 Weeks</ion-select-option>
          <ion-select-option value="91">13 Weeks</ion-select-option>
          <ion-select-option value="98">14 Weeks</ion-select-option>
          <ion-select-option value="105">15 Weeks</ion-select-option>
          <ion-select-option value="111">15 Weeks + 6 Days</ion-select-option>
          <ion-select-option value="112">16 Weeks</ion-select-option>
          <ion-select-option value="119">17 Weeks</ion-select-option>
          <ion-select-option value="126">18 Weeks</ion-select-option>
          <ion-select-option value="133">19 Weeks</ion-select-option>
          <ion-select-option value="140">20 Weeks</ion-select-option>
          <ion-select-option value="147">21 Weeks</ion-select-option>
          <ion-select-option value="154">22 Weeks</ion-select-option>
          <ion-select-option value="161">23 Weeks</ion-select-option>
          <ion-select-option value="168">24 Weeks</ion-select-option>
          <ion-select-option value="401">1 Month</ion-select-option>
          <ion-select-option value="402">2 Months</ion-select-option>
          <ion-select-option value="403">3 Months</ion-select-option>
          <ion-select-option value="404">4 Months</ion-select-option>
          <ion-select-option value="405">5 Months</ion-select-option>
          <ion-select-option value="406">6 Months</ion-select-option>
          <ion-select-option value="407">7 Months</ion-select-option>
          <ion-select-option value="408">8 Months</ion-select-option>
          <ion-select-option value="409">9 Months</ion-select-option>
          <ion-select-option value="410">10 Months</ion-select-option>
          <ion-select-option value="411">11 Months</ion-select-option>
          <ion-select-option value="412">12 Months</ion-select-option>
          <ion-select-option value="413">13 Months</ion-select-option>
          <ion-select-option value="414">14 Months</ion-select-option>
          <ion-select-option value="415">15 Months</ion-select-option>
          <ion-select-option value="416">16 Months</ion-select-option>
          <ion-select-option value="417">17 Months</ion-select-option>
          <ion-select-option value="418">18 Months</ion-select-option>
          <ion-select-option value="419">19 Months</ion-select-option>
          <ion-select-option value="420">20 Months</ion-select-option>
          <ion-select-option value="421">21 Months</ion-select-option>
          <ion-select-option value="422">22 Months</ion-select-option>
          <ion-select-option value="423">23 Months</ion-select-option>
          <ion-select-option value="424">24 Months</ion-select-option>
          <ion-select-option value="425">25 Months</ion-select-option>
          <ion-select-option value="426">26 Months</ion-select-option>
          <ion-select-option value="427">27 Months</ion-select-option>
          <ion-select-option value="428">28 Months</ion-select-option>
          <ion-select-option value="429">29 Months</ion-select-option>
          <ion-select-option value="430">30 Months</ion-select-option>
          <ion-select-option value="431">31 Months</ion-select-option>
          <ion-select-option value="432">32 Months</ion-select-option>
          <ion-select-option value="433">33 Months</ion-select-option>
          <ion-select-option value="434">34 Months</ion-select-option>
          <ion-select-option value="435">35 Months</ion-select-option>
          <ion-select-option value="436">36 Months</ion-select-option>
          <ion-select-option value="437">37 Months</ion-select-option>
          <ion-select-option value="438">38 Months</ion-select-option>
          <ion-select-option value="439">39 Months</ion-select-option>
          <ion-select-option value="440">40 Months</ion-select-option>
          <ion-select-option value="441">41 Months</ion-select-option>
          <ion-select-option value="442">42 Months</ion-select-option>
          <ion-select-option value="443">43 Months</ion-select-option>
          <ion-select-option value="444">44 Months</ion-select-option>
          <ion-select-option value="445">45 Months</ion-select-option>
          <ion-select-option value="446">46 Months</ion-select-option>
          <ion-select-option value="447">47 Months</ion-select-option>
          <ion-select-option value="448">48 Months</ion-select-option>
          <ion-select-option value="449">49 Months</ion-select-option>
          <ion-select-option value="450">50 Months</ion-select-option>
          <ion-select-option value="451">51 Months</ion-select-option>
          <ion-select-option value="452">52 Months</ion-select-option>
          <ion-select-option value="453">53 Months</ion-select-option>
          <ion-select-option value="454">54 Months</ion-select-option>
          <ion-select-option value="455">55 Months</ion-select-option>
          <ion-select-option value="456">56 Months</ion-select-option>
          <ion-select-option value="457">57 Months</ion-select-option>
          <ion-select-option value="458">58 Months</ion-select-option>
          <ion-select-option value="459">59 Months</ion-select-option>
          <ion-select-option value="460">60 Months</ion-select-option>
          <ion-select-option value="462">62 Months</ion-select-option>
          <ion-select-option value="4109">109 Months</ion-select-option>
          <ion-select-option value="4110">110 Months</ion-select-option>
          <ion-select-option value="4113">113 Months</ion-select-option>
          <ion-select-option value="4114">114 Months</ion-select-option>
          <ion-select-option value="4164">164 Months</ion-select-option>
          <ion-select-option value="3001">1 Year</ion-select-option>
          <ion-select-option value="3002">2 Years</ion-select-option>
          <ion-select-option value="3003">3 Years</ion-select-option>
          <ion-select-option value="3004">4 Years</ion-select-option>
          <ion-select-option value="3005">5 Years</ion-select-option>
          <ion-select-option value="3006">6 Years</ion-select-option>
          <ion-select-option value="3007">7 Years</ion-select-option>
          <ion-select-option value="3008">8 Years</ion-select-option>
          <ion-select-option value="3009">9 Years</ion-select-option>
          <ion-select-option value="3010">10 Years</ion-select-option>
          <ion-select-option value="3011">11 Years</ion-select-option>
          <ion-select-option value="3012">12 Years</ion-select-option>
          <ion-select-option value="3013">13 Years</ion-select-option>
          <ion-select-option value="3014">14 Years</ion-select-option>
          <ion-select-option value="3015">15 Years</ion-select-option>
          <ion-select-option value="3016">16 Years</ion-select-option>
          <ion-select-option value="3017">17 Years</ion-select-option>
          <ion-select-option value="3018">18 Years</ion-select-option>
          <ion-select-option value="3019">19 Years</ion-select-option>
          <ion-select-option value="3020">20 Years</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onSubmit()" color="primary">
      <ion-icon name="checkmark" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
