<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons class="ion-justify-content-center" style="border-radius: 5px">
      <ion-icon
        *ngIf="canAdd"
        style="margin-left: 10%; cursor: pointer"
        routerLink="/members/doctor/clinic/add"
        name="add-circle-outline"
        size="large"
        title="Add New Clinic"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="Clinics" class="clinic-content">
  <div class="clinic-wrap">
    <div class="clinic-card" *ngFor="let clinic of Clinics; let i = index" [ngClass]="'c-' + colorFor(i)">
      <div class="card-head">
        <div class="name-wrap">
          <div class="clinic-icon">
            <ion-icon name="business-outline"></ion-icon>
          </div>
          <div class="name-block">
            <div class="clinic-name">{{clinic.Name}}</div>
            <span *ngIf="allowInventory && clinic.MaintainInventory !== false" class="inv-badge inv-on">Inventory On</span>
            <span *ngIf="allowInventory && clinic.MaintainInventory === false" class="inv-badge inv-off">Inventory Off</span>
          </div>
        </div>
        <div class="actions">
          <button *ngIf="canEdit" class="icon-btn" [routerLink]="['/members/doctor/clinic/edit', clinic.Id]">
            <ion-icon name="create-outline"></ion-icon>
          </button>
          <button *ngIf="canDelete" class="icon-btn" (click)="alertDeleteClinic(clinic.Id)">
            <ion-icon name="trash-outline"></ion-icon>
          </button>
        </div>
      </div>

      <div class="card-footer">
        <button *ngIf="type !== 'PA'" class="pill" routerLink="/members/child">
          Patients <span class="count">{{clinic.childrenCount}}</span>
        </button>
        <button *ngIf="!clinic.IsOnline && canSetOnline" class="pill setonline" (click)="setOnlineClinic(clinic.Id)">
          Set as Online
        </button>
        <button *ngIf="clinic.IsOnline && canSetOnline" class="pill online" routerLink="/members/dashboard">
          <ion-icon name="checkmark"></ion-icon> Online
        </button>
      </div>
    </div>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>