<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clinics</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card *ngFor="let clinic of clinics">

    <ion-item>
      <ion-label>{{clinic.Name}}</ion-label>
      <ion-icon slot="end" routerLink="/vaccine/{{clinic.ID}}/edit" color="primary" name="create"></ion-icon>
      <ion-icon slot="end" (click)="promptForDeleteVaccine(clinic.ID)" color="primary" name="trash"></ion-icon>
    </ion-item>

    <ion-card-content>
      <p>Consultation Fee : {{clinic.ConsultationFee}}</p>
      <p> Off Days : {{clinic.OffDays}}</p>
      <p>Timming : {{clinic.StartTime}} - {{clinic.EndTime}} </p>
      <ion-button size="small" fill="outline" color="tertiary" routerLink="/vaccine/{{clinic.ID}}/dose">
        Patients &nbsp;<ion-badge size="small" color="primary">{{clinic.childrenCount}}</ion-badge>
      </ion-button>
      <ion-button *ngIf="!clinic.IsOnline" size="small" fill="outline" color="tertiary"
        (click)="setOnlineClinic(clinic.ID)">
        Set as Online
      </ion-button>
      <ion-button *ngIf="clinic.IsOnline" size="small" color="success" enabled="false">
        <ion-icon slot="start" name="checkmark"></ion-icon>
        Online
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>