<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>
    <ion-title>Alert</ion-title>
    <ion-title slot="end">
      <!-- {{clinicService.OnlineClinic.Name}} -->
    </ion-title>
  </ion-toolbar>
  
  <ion-toolbar color="primary">
    <ion-buttons class="ion-justify-content-center" style="border-radius: 5px;">
      <ion-icon style="margin-left: 10%" routerLink="/members/child/add" name="person-add" size="large"> </ion-icon>
      <ion-icon style="margin-left: 10%" routerLink="/members/doctor/clinic" name="medkit" size="large"> </ion-icon>
      <!-- <ion-icon style="margin-left: 10%" routerLink="/members/alert" name="alert" size="large"> </ion-icon> -->
      <ion-icon style="margin-left: 10%" routerLink="/members/child" name="accessibility-outline" size="large"> </ion-icon>
      <ion-menu-button style="margin-left: 10%"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" fill="outline" [disabled]="!followUpChild || followUpChild.length === 0" (click)="sendemails()">Email</ion-button>
      <ion-button color="primary" fill="outline" [disabled]="!followUpChild || followUpChild.length === 0" (click)="downloadcsv()">Sheet</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-item (click)="picker.open()">
        <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
  <h1 *ngIf="!followUpChild || followUpChild.length === 0" style="color: red">No follow up for today.</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item *ngFor="let child of followUpChild">
          <ion-label>{{child.Child.Name}}</ion-label>
          <ion-icon slot="end" color="primary" name="mail" (click)="sendemail([child])" style="cursor: pointer;"></ion-icon>
          <ion-icon
            slot="end"
            [color]="child.isMessageSent ? 'primary' : 'success'"
            name="logo-whatsapp"
            (click)="openWhatsApp(child.Child.User.MobileNumber, child.Child.Name, child.NextVisitDate)"
            style="cursor: pointer"
          >
          </ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
