<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/members/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Follow-Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]='fg'>
    <ion-item>
      <ion-label color="primary" position="floating">Diagnosis</ion-label>
      <ion-input type="text" formControlName="Disease" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Next Visit Date</ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY" picker-format="DD-MM-YYYY" formControlName="NextVisitDate">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">weight</ion-label>
      <ion-input type="number" placeholder="Weight" formControlName="Weight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Height</ion-label>
      <ion-input type="number" placeholder="Height" formControlName="Height"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">OFC</ion-label>
      <ion-input type="number" placeholder="OFC" formControlName="OFC"></ion-input>
    </ion-item>

    <ion-button (click)="addFollowUp()">Submit</ion-button>
  </form>
</ion-content>