

<ion-content class="ion-padding">

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="vaccine-alert">
        <ion-icon name="color-filter"></ion-icon>
        <ion-label>Vaccine Alert</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="follow-up">
        <ion-icon name="color-wand"></ion-icon>
        <ion-label>Follow Up Alert</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="birthday-alert">
        <ion-icon name="water"></ion-icon>
        <ion-label>Birthday Alert</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>