

<ion-tabs>
  <ion-tab-bar slot="top" style="--background: linear-gradient(135deg, #8B0000 0%, #C62828 45%, #FF4500 100%); --color: rgba(255,255,255,0.65); --color-selected: #ffffff; --border: none;">
    <ion-tab-button tab="vaccine-alert">
      <ion-icon name="color-filter"></ion-icon>
      <ion-label>Vaccine Alert</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="follow-up">
      <ion-icon name="color-wand"></ion-icon>
      <ion-label>Follow Up Alert</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="birthday-alert">
      <ion-icon name="water"></ion-icon>
      <ion-label>Birthday Alert</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>