

<ion-tabs>
  <ion-tab-bar slot="top" class="alert-tab-bar" style="--background: var(--vac-petrol); --color: var(--vac-teal-icon); --color-selected: #ffffff; --border: none;">
    <ion-tab-button tab="vaccine-alert">
      <ion-icon name="color-filter"></ion-icon>
      <ion-label>Vaccine Alert</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="follow-up">
      <ion-icon name="color-wand"></ion-icon>
      <ion-label>Follow Up Alert</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="birthday-alert">
      <ion-icon name="water"></ion-icon>
      <ion-label>Birthday Alert</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>