<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Brand Inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form>
    <ion-grid>
      <ion-row *ngFor="let b of brandInventory; let i = index">
        <ion-col>{{b.VaccineName}}</ion-col>
        <ion-col>{{b.Brand.Name}}</ion-col>
        <ion-col>
          <ion-input [(ngModel)]="brandInventoryCount[i]"  [value]="b.Count" name="first"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <ion-button disabled="true" (click)="setOnlineClinic(b.ID)">Update Inventory</ion-button> -->
    <ion-button (click)="getValues()">Update Inventory</ion-button>
  </form>
</ion-content>