<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="signup/step2"></ion-back-button>
    </ion-buttons>
    <ion-title>Vaccine Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="doses">
  
 <form [formGroup]="fg" (ngSubmit)="onSubmit()"> 
  
    <ion-item *ngFor="let control of fg.controls | keyvalue; let i = index ">
    <ion-label>{{control.key}}</ion-label>
   

    <ion-checkbox [(ngModel)] = "doses[i].IsSpecial" [ngModelOptions]="{standalone: true}"></ion-checkbox>
   
   </ion-item>
  
 

</form>


  
  <ion-button (click) = "onSubmit()">Finish</ion-button> 
</ion-content>