ion-content{
    --background: #fff url('../../../../assets/signup.jpg') no-repeat center center / cover;
  }

  .custom-item-background {
    --background: rgba(150, 150, 150, 0.188); /* Replace 'your-color' with the desired background color */
    color: #fff;
  }