<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bulk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="fg" (ngSubmit)="onSubmit()">
     <ion-item>
      <ion-label color="primary" position="floating">Weight</ion-label>
      <ion-input type="text" placeholder="Weight" formControlName="Weight"></ion-input>
      <ion-text color="danger" *ngIf="fg.get('Weight').invalid && (fg.get('Weight').dirty || fg.get('Weight').touched || fg.get('Weight').submitted)" style="font-size: 13px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
        <ng-container *ngIf="fg.get('Weight').errors.required">
          Weight is required
        </ng-container>
        <ng-container *ngIf="fg.get('Weight').errors.pattern">
          Only numbers are allowed for Weight
        </ng-container>
      </ion-text>
      <ion-text color="success" *ngIf="fg.get('Weight').valid && (fg.get('Weight').dirty || fg.get('Weight').touched || fg.get('Weight').submitted)" style="font-size: 13px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
        Perfect
      </ion-text>
    </ion-item>
    
    <ion-item>
      <ion-label color="primary" position="floating">Height</ion-label>
      <ion-input type="text" placeholder="Height" formControlName="Height"></ion-input>
      <ion-text color="danger" *ngIf="fg.get('Height').invalid && (fg.get('Height').dirty || fg.get('Height').touched || fg.get('Height').submitted)" style="font-size: 13px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
        <ng-container *ngIf="fg.get('Height').errors.required">
          Height is required
        </ng-container>
        <ng-container *ngIf="fg.get('Height').errors.pattern">
          Only numbers are allowed for Height
        </ng-container>
      </ion-text>
      <ion-text color="success" *ngIf="fg.get('Height').valid && (fg.get('Height').dirty || fg.get('Height').touched || fg.get('Height').submitted)" style="font-size: 13px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
        Perfect
      </ion-text>
    </ion-item>
    
    <ion-item>
      <ion-label color="primary" position="floating">OFC</ion-label>
      <ion-input type="text" placeholder="OFC" formControlName="Circle"></ion-input>
      <ion-text color="danger" *ngIf="fg.get('Circle').invalid && (fg.get('Circle').dirty || fg.get('Circle').touched || fg.get('Circle').submitted)" style="font-size: 13px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
        <ng-container *ngIf="fg.get('Circle').errors.required">
          OFC is required
        </ng-container>
        <ng-container *ngIf="fg.get('Circle').errors.pattern">
          Only numbers are allowed for OFC
        </ng-container>
      </ion-text>
      <ion-text color="success" *ngIf="fg.get('Circle').valid && (fg.get('Circle').dirty || fg.get('Circle').touched || fg.get('Circle').submitted)" style="font-size: 13px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
        Perfect
      </ion-text>
    </ion-item>
    <!-- <ion-item>
      <ion-label color="primary" position="floating">Disease</ion-label>
      <ion-input type="text" placeholder="Disease"></ion-input>
    </ion-item> -->

    <ion-item *ngFor="let user of bulkData; let i = index;">
      <ion-label>Brands</ion-label>
      <!-- <ion-select formControlName="BrandId{{i}}"> -->
      <ion-select [(ngModel)]="BrandIds[i]" [ngModelOptions]="{standalone: true}"  [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select Brand">
        <ion-select-option *ngFor="let user1 of user.Brands; let i = index;" selected [value]="user1.Id">{{user1.Name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
 
    <!-- <ion-item>
      <ion-datetime picker-format="DD-MM-YYYY" value="{{currentDate}}" formControlName="GivenDate"></ion-datetime>
    </ion-item> -->

    <ion-item (click)="picker.open()">
      <ion-label color="primary">Given Date</ion-label>
      <input formControlName="GivenDate" matInput [matDatepicker]="picker" value="{{currentDate1}}" max="{{todaydate}}">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </ion-item>

    <ion-button type="submit" [disabled]="isSubmitDisabled()">Submit</ion-button>
  </form>
</ion-content>