<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Fill Child vaccine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=ion-padding>

  <form [formGroup]="fg">
    <div *ngIf="Type!=='travel'">
    <ion-item>
      <ion-label color="primary" position="floating">Weight</ion-label>
      <ion-input type="text" placeholder="Weight" formControlName="Weight"></ion-input>
      <ion-text color="danger" *ngIf="fg.get('Weight').invalid && (fg.get('Weight').dirty || fg.get('Weight').touched)" style="font-size: 13px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
        <ng-container *ngIf="fg.get('Weight').errors.required">
          Weight is required
        </ng-container>
        <ng-container *ngIf="fg.get('Weight').errors.pattern">
          Only numbers are allowed for Weight
        </ng-container>
      </ion-text>
      <ion-text color="success" *ngIf="fg.get('Weight').valid && (fg.get('Weight').dirty || fg.get('Weight').touched)" style="font-size: 13px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
        <ion-icon name="checkmark-circle-outline" style="margin-right: 12px; font-size: 25px;"></ion-icon> <!-- Use the name of the desired icon -->
      </ion-text>
      
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Height</ion-label>
      <ion-input type="text" placeholder="Height" formControlName="Height"></ion-input>
      <ion-text color="danger" *ngIf="fg.get('Height').invalid && (fg.get('Height').dirty || fg.get('Height').touched)" style="font-size: 13px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
        <ng-container *ngIf="fg.get('Height').errors.required">
          Height is required
        </ng-container>
        <ng-container *ngIf="fg.get('Height').errors.pattern">
          Only numbers are allowed for Height
        </ng-container>
      </ion-text>
      <ion-text color="success" *ngIf="fg.get('Height').valid && (fg.get('Height').dirty || fg.get('Height').touched)" style="font-size: 13px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
        <ion-icon name="checkmark-circle-outline" style="margin-right: 12px; font-size: 25px;"></ion-icon> <!-- Use the name of the desired icon -->
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">OFC</ion-label>
      <ion-input type="text" placeholder="OFC" formControlName="Circle"></ion-input>
      <ion-text color="danger" *ngIf="fg.get('Circle').invalid && (fg.get('Circle').dirty || fg.get('Circle').touched)" style="font-size: 13px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
        <ng-container *ngIf="fg.get('Circle').errors.required">
          OFC is required
        </ng-container>
        <ng-container *ngIf="fg.get('Circle').errors.pattern">
          Only numbers are allowed for OFC
        </ng-container>
      </ion-text>
      <ion-text color="success" *ngIf="fg.get('Circle').valid && (fg.get('Circle').dirty || fg.get('Circle').touched)" style="font-size: 13px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
        <ion-icon name="checkmark-circle-outline" style="margin-right: 12px; font-size: 25px;"></ion-icon> <!-- Use the name of the desired icon -->
      </ion-text>
    </ion-item>
  </div>
  <div *ngIf="Type === 'travel'">
    <ion-item>
      <ion-label color="primary" position="floating">Manufacturer</ion-label>
      <ion-input type="text" placeholder="Manufacturer" formControlName="Manufacturer"></ion-input>
      <ion-text color="danger" *ngIf="fg.get('Manufacturer').invalid && (fg.get('Manufacturer').dirty || fg.get('Manufacturer').touched)" style="font-size: 13px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
        <ng-container *ngIf="fg.get('Manufacturer').errors.required">
          Manufacturer is required
        </ng-container>
      </ion-text>
      <ion-text color="success" *ngIf="fg.get('Manufacturer').valid && (fg.get('Manufacturer').dirty || fg.get('Manufacturer').touched)" style="font-size: 13px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
        <ion-icon name="checkmark-circle-outline" style="margin-right: 12px; font-size: 25px;"></ion-icon>
      </ion-text>
    </ion-item>
  
    <ion-item>
      <ion-label color="primary" position="floating">Batch/Lot</ion-label>
      <ion-input type="text" placeholder="Lot" formControlName="Lot"></ion-input>
      <ion-text color="danger" *ngIf="fg.get('Lot').invalid && (fg.get('Lot').dirty || fg.get('Lot').touched)" style="font-size: 13px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
        <ng-container *ngIf="fg.get('Lot').errors.required">
          Batch/Lot is required
        </ng-container>
      </ion-text>
      <ion-text color="success" *ngIf="fg.get('Lot').valid && (fg.get('Lot').dirty || fg.get('Lot').touched)" style="font-size: 13px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
        <ion-icon name="checkmark-circle-outline" style="margin-right: 12px; font-size: 25px;"></ion-icon>
      </ion-text>
    </ion-item>

    <ion-item (click)="expiryPicker.open()">
      <ion-label color="primary">Expiry</ion-label>
      <input formControlName="Expiry" matInput [matDatepicker]="expiryPicker" [value]="todaydate">
      <mat-datepicker-toggle matSuffix [for]="expiryPicker"></mat-datepicker-toggle>
      <mat-datepicker #expiryPicker></mat-datepicker>
      <ion-text color="danger"
        *ngIf="fg.get('Expiry')?.invalid && (fg.get('Expiry').dirty || fg.get('Expiry').touched)"
        style="font-size: 13px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
        <ng-container *ngIf="fg.get('Expiry')?.errors.required">
          Expiry is required
        </ng-container>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Validity</ion-label>
      <ion-select formControlName="Validity">
        <ion-select-option value="0">At Birth</ion-select-option>
        <ion-select-option value="42">6 Weeks</ion-select-option>
        <ion-select-option value="49">7 Weeks</ion-select-option>
        <ion-select-option value="56">8 Weeks</ion-select-option>
        <ion-select-option value="63">9 Weeks</ion-select-option>
        <ion-select-option value="70">10 Weeks</ion-select-option>
        <ion-select-option value="77">11 Weeks</ion-select-option>
        <ion-select-option value="84">3 Months</ion-select-option>
        <ion-select-option value="91">13 Weeks</ion-select-option>
        <ion-select-option value="98">14 Weeks</ion-select-option>
        <ion-select-option value="105">15 Weeks</ion-select-option>
        <ion-select-option value="112">16 Weeks</ion-select-option>
        <ion-select-option value="119">17 Weeks</ion-select-option>
        <ion-select-option value="126">18 Weeks</ion-select-option>
        <ion-select-option value="133">19 Weeks</ion-select-option>
        <ion-select-option value="140">20 Weeks</ion-select-option>
        <ion-select-option value="147">21 Weeks</ion-select-option>
        <ion-select-option value="154">22 Weeks</ion-select-option>
        <ion-select-option value="161">23 Weeks</ion-select-option>
        <ion-select-option value="168">6 Months</ion-select-option>
        <ion-select-option value="212">7 Months</ion-select-option>
        <ion-select-option value="243">8 Months</ion-select-option>
        <ion-select-option value="274">9 Months</ion-select-option>
        <ion-select-option value="304">10 Months</ion-select-option>
        <ion-select-option value="334">11 Months</ion-select-option>
        <ion-select-option value="365">1 Year</ion-select-option>
        <ion-select-option value="395">13 Months</ion-select-option>
        <ion-select-option value="426">14 Months</ion-select-option>
        <ion-select-option value="456">15 Months</ion-select-option>
        <ion-select-option value="486">16 Months</ion-select-option>
        <ion-select-option value="517">17 Months</ion-select-option>
        <ion-select-option value="547">18 Months</ion-select-option>
        <ion-select-option value="578">19 Months</ion-select-option>
        <ion-select-option value="608">20 Months</ion-select-option>
        <ion-select-option value="639">21 Months</ion-select-option>
        <ion-select-option value="669">22 Months</ion-select-option>
        <ion-select-option value="699">23 Months</ion-select-option>
        <ion-select-option value="730">2 Years</ion-select-option>
        <ion-select-option value="760">25 Months</ion-select-option>
        <ion-select-option value="791">26 Months</ion-select-option>
        <ion-select-option value="821">27 Months</ion-select-option>
        <ion-select-option value="851">28 Months</ion-select-option>
        <ion-select-option value="882">29 Months</ion-select-option>
        <ion-select-option value="912">30 Months</ion-select-option>
        <ion-select-option value="943">31 Months</ion-select-option>
        <ion-select-option value="973">32 Months</ion-select-option>
        <ion-select-option value="1004">33 Months</ion-select-option>
        <ion-select-option value="1034">34 Months</ion-select-option>
        <ion-select-option value="1064">35 Months</ion-select-option>
        <ion-select-option value="1095">3 Years</ion-select-option>
        <ion-select-option value="1125">37 Months</ion-select-option>
        <ion-select-option value="1156">38 Months</ion-select-option>
        <ion-select-option value="1186">39 Months</ion-select-option>
        <ion-select-option value="1216">40 Months</ion-select-option>
        <ion-select-option value="1247">41 Months</ion-select-option>
        <ion-select-option value="1277">42 Months</ion-select-option>
        <ion-select-option value="1308">43 Months</ion-select-option>
        <ion-select-option value="1338">44 Months</ion-select-option>
        <ion-select-option value="1369">45 Months</ion-select-option>
        <ion-select-option value="1399">46 Months</ion-select-option>
        <ion-select-option value="1429">47 Months</ion-select-option>
        <ion-select-option value="1460">4 Years</ion-select-option>
        <ion-select-option value="1490">49 Months</ion-select-option>
        <ion-select-option value="1521">50 Months</ion-select-option>
        <ion-select-option value="1551">51 Months</ion-select-option>
        <ion-select-option value="1582">52 Months</ion-select-option>
        <ion-select-option value="1612">53 Months</ion-select-option>
        <ion-select-option value="1642">54 Months</ion-select-option>
        <ion-select-option value="1673">55 Months</ion-select-option>
        <ion-select-option value="1703">56 Months</ion-select-option>
        <ion-select-option value="1734">57 Months</ion-select-option>
        <ion-select-option value="1764">58 Months</ion-select-option>
        <ion-select-option value="1795">59 Months</ion-select-option>
        <ion-select-option value="1825">5 Years</ion-select-option>
        <ion-select-option value="2190">6 Years</ion-select-option>
        <ion-select-option value="2555">7 Years</ion-select-option>
        <ion-select-option value="2920">8 Years</ion-select-option>
        <ion-select-option value="3285">9 Years</ion-select-option>
        <ion-select-option value="3315">9 Year 1 Month</ion-select-option>
        <ion-select-option value="3650">10 Years</ion-select-option>
        <ion-select-option value="3833">10 Year 6 Months</ion-select-option>
        <ion-select-option value="4015">11 Years</ion-select-option>
        <ion-select-option value="4380">12 Years</ion-select-option>
        <ion-select-option value="4745">13 Years</ion-select-option>
        <ion-select-option value="5110">14 Years</ion-select-option>
        <ion-select-option value="5475">15 Years</ion-select-option>
        <ion-select-option value="5840">16 Years</ion-select-option>
        <ion-select-option value="6205">17 Years</ion-select-option>
        <ion-select-option value="6570">18 Years</ion-select-option>
      </ion-select>
    </ion-item> 

    <!-- <ion-item>
      <ion-label color="primary" position="floating">Disease</ion-label>
      <ion-input type="text" placeholder="Disease" ></ion-input>
    </ion-item> -->
    <!--  -->

    <ion-item *ngIf="vaccineName === 'Hepatitis A' || vaccineName === 'Chicken Pox'">
      <ion-label color="primary">Disease</ion-label>
      <ion-checkbox formControlName="IsDisease"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="fg.value.IsDisease">
      <ion-label color="primary">Disease Year</ion-label>
      <ion-datetime picker-format="YYYY" displayFormat="YYYY" value="{{Date}}" formControlName="DiseaseYear"
        min="{{birthYear}}" max="{{todaydate}}"></ion-datetime>
    </ion-item>

    <!-- <ion-item *ngIf="!fg.value.IsDisease">
      <ion-label color="primary">Brands</ion-label>
      <ion-select formControlName="BrandId">
        <ion-select-option *ngFor="let user of brandName" [value]="user.Id">{{user.Name}}</ion-select-option>
      </ion-select>
    </ion-item> -->
    
    <ion-item *ngIf="!fg.value.IsDisease">
      <ion-label color="primary">Brands</ion-label>
      <ion-select formControlName="BrandId" [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select Brand">
        <ion-select-option value="OHF">OHF</ion-select-option>
        <ion-select-option *ngFor="let user of brandName" [value]="user.Id">{{ user.Name }}</ion-select-option>
      </ion-select>
    </ion-item>
    
    
    <ion-item>
      <ion-label>Schedule Date</ion-label>
      <ion-datetime disabled displayFormat="DD-MM-YYYY" value="{{Date}}"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="!fg.value.IsDisease" (click)="picker.open()">
      <!-- <ion-datetime  picker-format="DD-MM-YYYY" value="{{Date}}" formControlName="GivenDate" max = "{{todaydate}}"></ion-datetime> -->
      <!-- <mat-form-field appearance="fill"> -->
      <!-- <mat-label>Choose a date</mat-label> -->
      <ion-label color="primary">Given Date</ion-label>
      <input formControlName="GivenDate" matInput [matDatepicker]="picker" value="{{Date}}" max="{{todaydate}}">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
      <!-- </mat-form-field> -->
    </ion-item>

    <!-- <ion-button (click)="fillVaccine()">Submit</ion-button> -->

    <ion-button [disabled]="!isBrandFilled() || isScheduleDateValid()" (click)="fillVaccine()">Submit</ion-button>
  </form>
</ion-content>