<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Fill Child vaccine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-item>
      <ion-label color="primary" position="floating">weight</ion-label>
      <ion-select formControlName="Weight" value="Any">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
        <ion-select-option value="7">7</ion-select-option>
        <ion-select-option value="8">8</ion-select-option>
        <ion-select-option value="8">9</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Height</ion-label>
      <ion-select formControlName="Weight" value="Any">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
        <ion-select-option value="7">7</ion-select-option>
        <ion-select-option value="8">8</ion-select-option>
        <ion-select-option value="8">9</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">OFC</ion-label>
      <ion-select formControlName="Weight" value="Any">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
        <ion-select-option value="7">7</ion-select-option>
        <ion-select-option value="8">8</ion-select-option>
        <ion-select-option value="8">9</ion-select-option>
      </ion-select>
    </ion-item>
  </form>
</ion-content>