<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Fill Child vaccine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="fg">
    <ion-item>
      <ion-label color="primary" position="floating">weight</ion-label>
      <ion-input type="number" placeholder="Weight" formControlName="Weight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Height</ion-label>
      <ion-input type="number" placeholder="Height" formControlName="Height"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">OFC</ion-label>
      <ion-input type="number" placeholder="OFC" formControlName="Circle"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label color="primary" position="floating">Disease</ion-label>
      <ion-input type="text" placeholder="Disease" ></ion-input>
    </ion-item> -->
            <ion-item>
              <ion-label color="primary">Disease</ion-label>
              <ion-radio></ion-radio>
            </ion-item>
    <ion-item>
      <ion-label>Brands</ion-label>
      <ion-select formControlName="BrandId">
        <ion-select-option *ngFor="let user of brandName" [value]="user.Id">{{user.Name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-datetime picker-format="DD-MM-YYYY" value="{{Date}}" formControlName="GivenDate" max = "{{todaydate}}"></ion-datetime>
    </ion-item>

    <ion-button (click)="fillVaccine()">Submit</ion-button>
  </form>
</ion-content>