input {
    border: 0;
}

.example-full-width {
    width: 100%;
}

.custom-input-item {
    width: 100%;
    margin: 8px 0;
}

.brand-label {
    color: gray !important;
}

.custom-input-item input {
    color: gray !important;
}

.custom-input-item input::placeholder {
    color: gray !important;
}