.col{
    //border: think solid black;
    border: solid 1px rgb(224, 215, 215);
    border-bottom-style: solid 1px grey;
    border-right-style: solid 1px grey;
    }
.bgheader1{
    background-color: #003372;
}
.bgheader2{
    background-color: #366EB8
}
.bgcolum{
    background-color: #EEECED
}
ion-img{
    width: 70px;
}