.error-message {
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}
.mat-datepicker-toggle-default-icon {
  color: #3880ff;
}
input {
  border: 0;
  margin-left: 7%;
  width: 40%;
}
#dob{
  margin-left: 5%;
}
ion-list-header{
  color: #3880ff;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


.mat-input-element:disabled{
  color: rgb(0 0 0);
}