.error-message {
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}
.mat-datepicker-toggle-default-icon {
  color: #3880ff;
}
input {
  border: 0;
  margin-left: 7%;
  width: 35%;
}
#dob{
  margin-left: 5%;
}
ion-list-header{
  color: #3880ff;
}