<ion-header>
  <!-- <ion-toolbar>
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-select [(ngModel)]="selectedClinicId" (ionChange)="onClinicChange($event)" class="clinic-select"
      >
        <ion-select-option *ngFor="let clinic of clinics" [value]="clinic.Id">
          {{ clinic.Name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar> -->
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center" style="cursor: pointer" routerLink="/members/doctor/clinic">
      {{ clinicService.OnlineClinic ? clinicService.OnlineClinic.Name :'Add Patient' }}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-buttons class="ion-justify-content-center" style="border-radius: 5px">
      <ion-icon style="margin-left: 10%; cursor: pointer" routerLink="/members/child/add" name="person-add"
        size="large">
      </ion-icon>
      <ion-icon style="margin-left: 10%; cursor: pointer" routerLink="/members/alert" name="alert" size="large">
      </ion-icon>
      <ion-icon style="margin-left: 10%;cursor: pointer;" routerLink="/members/child" name="accessibility-outline"
        size="large"> </ion-icon>
      <ion-menu-button style="margin-left: 10%; cursor: pointer"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="fg1" class="ion-padding">
  <ion-card>
    <!-- 1st Step of Add Child -->
    <form [formGroup]="fg1" (ngSubmit)="moveNextStep()">
      <ion-item lines="none" class="custom-input-item">
        <ion-input type="text" formControlName="Name" required placeholder="Name of patient *"
          [(ngModel)]="fg1.value.Name" class="custom-input ion-text-capitalize">
        </ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label class="label-gray" position="floating">
          Patient Name <span class="required-asterisk">*</span>
        </ion-label>
        <ion-input type="text" formControlName="Name" required [(ngModel)]="fg1.value.Name" class="ion-text-capitalize">
        </ion-input>
      </ion-item> -->
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message"
            *ngIf="fg1.get('Name').hasError(validation.type) && (fg1.get('Name').dirty || fg1.get('Name').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item lines="none" class="custom-input-item">
        <!-- <ion-label class="label-gray" position="floating">
          Guardian's Name <span class="required-asterisk">*</span>
        </ion-label> -->
        <ion-input type="text" formControlName="FatherName" required placeholder="Guardian's Name *" required
          [(ngModel)]="fg1.value.FatherName" class="ion-text-capitalize custom-input">
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.fatherName">
          <div class="error-message"
            *ngIf="fg1.get('FatherName').hasError(validation.type) && (fg1.get('FatherName').dirty || fg1.get('FatherName').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <!-- Gender -->
      <ion-radio-group formControlName="Gender">
        <ion-list-header class="label-gray">
          Gender <span class="required-asterisk">*</span>
        </ion-list-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label class="label-gray">Male</ion-label>
                <ion-radio slot="start" value="Boy"></ion-radio>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item>
                <ion-label class="label-gray">Female</ion-label>
                <ion-radio slot="start" value="Girl"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-radio-group>
      <ion-item>
        <mat-form-field appearance="outline" class="custom-input-item" (click)="picker.open()">
          <!-- <mat-label>Date of Birth <span class="required-asterisk">*</span></mat-label> -->
          <input matInput formControlName="DOB" [matDatepicker]="picker" placeholder="Date of Birth *" [max]="todaydate"
            (dateChange)="checkEpi()" class="custom-input" />
          <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> -->
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="validation-errors" style="margin-bottom: 20px;">
          <ng-container *ngFor="let validation of validation_messages.DOB">
            <div class="error-message"
              *ngIf="fg1.get('DOB').hasError(validation.type) && (fg1.get('DOB').dirty || fg1.get('DOB').touched)">
              <ion-icon name="information-circle-outline"
                style="color: rgb(255, 0, 0); margin-bottom: -2px;"></ion-icon>
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-item>

      <ion-radio-group formControlName="Type" (ionChange)="onTravelChange($event)">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label class="label-gray">Regular</ion-label>
                <ion-radio slot="start" value="regular"></ion-radio>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item style="height: 100%;">
                <ion-label class="label-gray">EPI Plus</ion-label>
                <ion-radio slot="start" value="IsEPIDone" [disabled]="isRadioDisabled"></ion-radio>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item style="height: 100%;">
                <ion-label class="label-gray">Customize</ion-label>
                <ion-radio slot="start" value="special"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col *ngIf="isTravel">
              <ion-item>
                <ion-label class="label-gray">Travel</ion-label>
                <ion-radio slot="start" value="travel"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-radio-group>

      <ion-item *ngIf="type === 'PA'" class="custom-input-item" lines="none">
        <div class="country-code-container">
          <!-- <ion-label class="label-gray" position="stacked" class="country-label">
            Clinics <span class="required-asterisk">*</span>
          </ion-label> -->
          <ion-select formControlName="ClinicId" [(ngModel)]="selectedClinicId" class="custom-input" placeholder="Clinics *" required class="no-indent">
            <ion-select-option *ngFor="let clinic of clinics" [value]="clinic.Id">
              {{ clinic.Name }}
            </ion-select-option>
          </ion-select>
        </div>
      </ion-item>
      <ion-item lines="none" class="custom-input-item">
        <!-- <ion-label class="label-gray" position="floating">Email</ion-label> -->
        <ion-input type="email" formControlName="Email" placeholder="Email" class="custom-input"
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message"
            *ngIf="fg1.get('Email').hasError(validation.type) && (fg1.get('Email').dirty || fg1.get('Email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item lines="none" class="custom-input-item">
        <!-- <ion-label class="label-gray" position="floating">
          CNIC/Passport No. <span *ngIf="isCnicRequired" class="required-asterisk ion-text-capitalize custom-input">*</span>
        </ion-label> -->
        <ion-input type="text" formControlName="CNIC" placeholder="CNIC/Passport No."
          class="ion-text-capitalize custom-input"></ion-input>
      </ion-item>
      <div *ngIf="isCnicRequired && fg1.get('CNIC').hasError('required')" style="color: red;">
        CNIC number is required when traveling.
      </div>

      <ion-item appearance="outline" class="custom-input-item">
        <div class="country-code-container">
          <!-- <ion-label class="label-gray" position="stacked" >
            Country Code <span class="required-asterisk">*</span>
          </ion-label> -->
          <ion-item class="custom-input-item">
            <span class="fi fi-{{ getFlagCode(fg1.get('CountryCode').value) }}"></span>
            <ion-select formControlName="CountryCode" class="country-code-select">
              <ion-select-option *ngFor="let country of countryCodes" [value]="country.code">
                {{ country.name }} (+{{ country.code }})
              </ion-select-option>
            </ion-select>
          </ion-item>
          <!-- </ion-item>
          <ion-item lines="none" class="number-input-item"> -->
          <!-- <ion-label class="label-gray" position="stacked" >
            Mobile Number <span class="required-asterisk">*</span>
          </ion-label> -->
          <div class="custom-input-item">
            <ion-input type="text" placeholder="Mobile Number" required formControlName="MobileNumber"
              class="number-input ion-text-capitalize custom-input" inputmode="numeric" (ionInput)="removeSpaces($event)">
            </ion-input>
            <div class="validation-errors">
              <div class="error-message"
                *ngIf="fg1.get('MobileNumber').hasError('pattern') && (fg1.get('MobileNumber').dirty || fg1.get('MobileNumber').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                Mobile number must not contain spaces and must not start with 0.
              </div>
              <div class="error-message"
                *ngIf="fg1.get('MobileNumber').hasError('required') && (fg1.get('MobileNumber').dirty || fg1.get('MobileNumber').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                Mobile number is required.
              </div>
            </div>
          </div>
        </div>
      </ion-item>

      <div class="city">
        <!-- <ion-label class="label-gray" position="floating" style="font-size: 16px; display: flex; padding-left: 15px;">
          City <span class="required-asterisk">*</span>
        </ion-label> -->
        <mat-form-field appearance="outline" class="example-full-width custom-input-item">
          <input type="text" aria-label="Number" matInput placeholder="City" formControlName="city"
            [matAutocomplete]="auto" (ngModelChange)="filter($event)" style="font-size: 15px;" class="custom-input"
            (ionChange)="onCityChange()" [disabled]="fg1.get('City2')?.value !== ''">
          <mat-autocomplete #auto="matAutocomplete" class="no-indent">
            <mat-option *ngFor="let option of cities" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <ion-item appearance="outline" class="custom-input-item">
          <!-- <ion-label class="label-gray" position="floating">
            Add New City
          </ion-label> -->
          <ion-input type="text" formControlName="City2" required class="ion-text-capitalize custom-input"
            placeholder="Add New City" [(ngModel)]="fg1.value.City2" [disabled]="fg1.get('city')?.value !== ''"
            (ionChange)="onCityChange()">
          </ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.City2">
            <div class="error-message"
              *ngIf="fg1.get('City2')?.hasError(validation.type) && (fg1.get('City2')?.dirty || fg1.get('City2')?.touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div *ngIf="isCnicRequired">
        <div class="agent">
          <ion-item appearance="outline" class="custom-input-item">
            <!-- <ion-label class="label-gray" position="floating">
              Nationality <span class="required-asterisk">*</span>
            </ion-label> -->
            <ion-input type="text" formControlName="Nationality" placeholder="Nationality" required
              class="ion-text-capitalize custom-input"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.nationality">
              <div class="error-message"
                *ngIf="fg1.get('Nationality')?.hasError(validation.type) && (fg1.get('Nationality')?.dirty || fg1.get('Nationality')?.touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <!-- <ion-label class="label-gray" position="floating" style="font-size: 16px; display: flex; padding-left: 15px;">
            Agent <span class="required-asterisk">*</span>
          </ion-label> -->
          <mat-form-field appearance="outline" class="example-full-width custom-input-item">
            <input type="text" aria-label="Number" placeholder="Agent" matInput formControlName="agent"
              [matAutocomplete]="auto" (input)="filterAgents($event.target.value)" style="font-size: 15px;">
            <mat-autocomplete #auto="matAutocomplete" class="no-indent">
              <mat-option *ngFor="let option of agents" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <ion-item appearance="outline" class="custom-input-item">
            <!-- <ion-label class="label-gray" position="floating">
              Add New Agent <span class="required-asterisk">*</span>
            </ion-label> -->
            <ion-input type="text" formControlName="Agent2" required class="ion-text-capitalize custom-input"
              placeholder="Add New Agent" [(ngModel)]="fg1.value.Agent2" [disabled]="fg1.get('agent')?.value !== ''"
              (ionChange)="onAgentChange()">
            </ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.Agent2">
              <div class="error-message"
                *ngIf="isCnicRequired && fg1.get('Agent2')?.hasError(validation.type) && (fg1.get('Agent2')?.dirty || fg1.get('Agent2')?.touched)">
                <ion-icon name="information-circle-outline"></ion-icon> Agent required
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <ion-button type="submit" [disabled]="!fg1.valid || (isCnicRequired && !fg1.get('CNIC').value)"
        style="display: block; margin: auto; width: 150px; margin-top: 15px; margin-bottom: 15px;">
        Submit
      </ion-button>
    </form>
  </ion-card>
</ion-content>