<ion-header>
  <!-- <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Patient</ion-title>
    <ion-title *ngIf="clinicService.OnlineClinic" slot="end">
      {{clinicService.OnlineClinic.Name}}
    </ion-title>
  </ion-toolbar> -->

  <ion-toolbar class="custom-item-background3">
    <ion-buttons class="ion-justify-content-center" style="border-radius: 5px;">
      <ion-icon style="margin-left: 10%" routerLink="/members/child/add" name="person-add" size="large"> </ion-icon>
      <ion-icon style="margin-left: 10%" routerLink="/members/alert" name="alert" size="large"> </ion-icon>
      <ion-icon style="margin-left: 10%" routerLink="/members/doctor/clinic" name="medkit" size="large"> </ion-icon>
      <ion-menu-button style="margin-left: 10%"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content *ngIf="fg1" class="ion-padding">
  <h1 style="text-align: center; color: white;">Add Patient</h1>
  <ion-card class="custom-item-background1">
    <!-- 1st Step of Add Child -->
    <form [formGroup]="fg1" (ngSubmit)="moveNextStep()">
      <ion-item class="custom-item-background2">
        <ion-label color="white" position="floating">Patient Name</ion-label>
        <ion-input type="text" formControlName="Name" required [(ngModel)]="fg1.value.Name" class="ion-text-capitalize">
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message"
            *ngIf="fg1.get('Name').hasError(validation.type) && (fg1.get('Name').dirty || fg1.get('Name').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <!-- <ion-radio-group formControlName="Guardian">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label color="primary">Father's name</ion-label>
              <ion-radio slot="start" value="Father" ></ion-radio> 
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-label color="primary">Husband's name</ion-label>
              <ion-radio slot="start" value="Husband"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>    
      </ion-grid>
    </ion-radio-group> -->
      <ion-item class="custom-item-background2">
        <ion-label color="white" position="floating">Guardian's Name</ion-label>
        <ion-input type="text" formControlName="FatherName" required [(ngModel)]="fg1.value.FatherName"
          class="ion-text-capitalize">
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.fatherName">
          <div class="error-message"
            *ngIf="fg1.get('FatherName').hasError(validation.type) && (fg1.get('FatherName').dirty || fg1.get('FatherName').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-radio-group formControlName="Gender" color="white" class="custom-item-background2">
        <ion-list-header style="color: white;">
          Gender
        </ion-list-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item class="custom-item-background2">
                <ion-label color="white">Male</ion-label>
                <ion-radio color="light" slot="start" value="Boy"></ion-radio>
                <!-- (click)="updateGender('Boy')" -->
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item class="custom-item-background2">
                <ion-label color="white">Female</ion-label>
                <ion-radio color="light" slot="start" value="Girl"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-radio-group>

      <ion-radio-group formControlName="Type">
       
        <ion-grid>
          <ion-row>
           
        
            <ion-col>
              <ion-item class="custom-item-background2" style="height: 88%; display: flex;">
                <ion-label color="white">EPI Plus</ion-label>
                <ion-checkbox [disabled]="!epiDone" slot="start" formControlName="IsEPIDone" id="EPI"></ion-checkbox>
              </ion-item>
            </ion-col>
        
            
          </ion-row>
        </ion-grid>
        
      </ion-radio-group>


      <ion-item *ngIf="fg1.value.Type === 'regular'" class="custom-item-background2">
        <ion-label color="white">Skip UnActive Doses</ion-label>
        <ion-checkbox slot="start" formControlName="IsSkip"></ion-checkbox>
      </ion-item>


      <ion-label id="dob" color="white" position="floating" style="margin-left: 1.5%; margin-bottom: 20px;">Date of Birth</ion-label>
      <input formControlName="DOB" slot="end" matInput [matDatepicker]="picker" disabled max="{{todaydate}}"
        (click)="picker.open()" (dateChange)="checkEpi()">
      <img src="../../../../assets/calendar.png" (click)="picker.open()" style="cursor: pointer; height: 30px; margin-bottom: -10px;">
      <mat-datepicker slot="end" #picker disabled="false"></mat-datepicker>
      
      <div class="validation-errors" style="margin-bottom: 20px;">
        <ng-container *ngFor="let validation of validation_messages.DOB">
          <div class="error-message"
            *ngIf="fg1.get('DOB').hasError(validation.type) && (fg1.get('DOB').dirty || fg1.get('DOB').touched)">
            <ion-icon name="information-circle-outline" style="color: rgb(255, 0, 0); margin-bottom: -2px;"></ion-icon>
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      


      <ion-item class="custom-item-background2">
        <ion-label color="white" position="floating">Email</ion-label>
        <ion-input type="text" formControlName="Email"></ion-input>
    </ion-item> 
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message"
            *ngIf="fg1.get('Email').hasError(validation.type) && (fg1.get('Email').dirty || fg1.get('Email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item class="custom-item-background2">
        <ion-label color="white" position="floating">CNIC/Passport No.</ion-label>
        <ion-input type="text" formControlName="CNIC"></ion-input>
      </ion-item>

      <ion-item class="custom-item-background2">
        <div style="display: flex ;">
          <ion-label color="white" position="floating" style="font-size: 20px; float: left; margin-top: -10px;">Mobile Number</ion-label>
          <ion-select formControlName="CountryCode" style="padding-top: 25px;">
            <ion-select-option *ngFor="let country of countryCodes" [value]="country.code">
              (+{{ country.code }}) {{ country.name }}
            </ion-select-option>
          </ion-select>
          <ion-input type="text" formControlName="MobileNumber" class="number-input"></ion-input>
        </div>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.mobileNumber">
          <div class="error-message"
            *ngIf="fg1.get('MobileNumber').hasError(validation.type) && (fg1.get('MobileNumber').dirty || fg1.get('MobileNumber').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

  
        <ion-label color="white" position="floating" style="font-size: 16px; display: flex; padding-left: 15px;">City</ion-label>
        <mat-form-field class="example-full-width">
          <input type="text" aria-label="Number" matInput formControlName="city" [matAutocomplete]="auto"
            (ngModelChange)="filter($event)"  style="font-size: 15px;">
          <mat-autocomplete #auto="matAutocomplete" class="no-indent">
            <mat-option *ngFor="let option of cities" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <ion-button type="submit" [disabled]="!fg1.valid" style="display: block; margin: auto; width: 150px; margin-top: 15px; margin-bottom: 15px;" color="dark">Submit</ion-button>

    </form>

  </ion-card>
</ion-content>