<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Clinic Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="fg">
    <ion-item>
      <ion-label color="primary" position="floating">Clinic Name</ion-label>
      <ion-input type="text" formControlName="Name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Phone Number</ion-label>
      <ion-input type="text" formControlName="PhoneNumber" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Address</ion-label>
      <ion-input type="text" formControlName="Address" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Consultation Fee</ion-label>
      <ion-input type="text" formControlName="ConsultationFee" required></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label color="primary" position="floating">Select Off Days of Clinic</ion-label>
    </ion-item>


    <ion-item lines="none" no-padding>

      <ion-item lines="none" no-padding>
        <ion-checkbox color="primary" value="Monday"></ion-checkbox>
        <ion-label>Thrusday</ion-label>
      </ion-item>
      <ion-item lines="none" no-padding>
        <ion-checkbox color="primary" value="Tuesday"></ion-checkbox>
        <ion-label>Friday</ion-label>
      </ion-item>
      <ion-item lines="none" no-padding>
        <ion-checkbox color="primary" value="Wednesday"></ion-checkbox>
        <ion-label>Saturday</ion-label>
      </ion-item>

    </ion-item>
    <ion-item no-padding>
      <ion-item lines="none" no-padding>
        <ion-checkbox color="primary" value="Wednesday"></ion-checkbox>
        <ion-label>Sunday</ion-label>
      </ion-item>
    </ion-item>

    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime displayFormat="HH:mm" formControlName="StartTime"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End Time</ion-label>
      <ion-datetime displayFormat="HH:mm" formControlName="EndTime"></ion-datetime>
    </ion-item>
  </form>
  <ion-button (click)="nextpage()">next</ion-button>
</ion-content>