.prices-hint {
  font-size: 13px;
  color: #546E7A;
  margin-bottom: 12px;
}

.price-input {
  text-align: right;
  max-width: 100px;
  --padding-end: 4px;
}

.price-currency {
  font-size: 13px;
  color: #546E7A;
  margin-left: 4px;
}
