<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Child</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="fg">
    <ion-item>
      <ion-label color="primary" position="floating">Name</ion-label>
      <ion-input type="text" formControlName="Name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Father's Name</ion-label>
      <ion-input type="text" formControlName="FatherName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Email</ion-label>
      <ion-input type="text" formControlName="Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Date Of Birth</ion-label>
      <ion-input type="text" formControlName="DOB" [disabled]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Mobile Number</ion-label>
      <div style="display: flex ;">
        <ion-select formControlName="CountryCode" >
            <ion-select-option *ngFor="let country of countryCodes" [value]="country.code">
              (+{{ country.code }}) {{ country.name }} 
            </ion-select-option>
          </ion-select>
          <ion-input type="text" formControlName="MobileNumber" class="number-input"></ion-input>
      </div>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">CNIC/Passport No.</ion-label>
      <ion-input type="text" formControlName="CNIC"></ion-input>
    </ion-item>

    <ion-radio-group *ngIf ="child" formControlName="Gender" value="{{child.Gender}}">
      <ion-list-header>
        Gender
      </ion-list-header>

      <ion-grid>
        <ion-row>

          <ion-col>
            <ion-item>
              <ion-label color="primary">Boy</ion-label>
              <ion-radio slot="start" value="Boy" (ionSelect)="updateGender('Boy')"></ion-radio>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-label color="primary">Girl</ion-label>
              <ion-radio slot="start" value="Girl" (ionSelect)="updateGender('Girl')" Checked></ion-radio>
            </ion-item> 
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-radio-group>


    <ion-item>
      <ion-label color="primary" position="floating">City</ion-label>
      <mat-form-field class="example-full-width">
        <input type="text"
               aria-label="Number"
               matInput
               formControlName="City"
               [matAutocomplete]="auto"
               (ngModelChange)="filterCities($event)">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let city of filteredCities" [value]="city">
            {{city}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Doctor</ion-label>
      <mat-form-field class="example-full-width">
          <input type="text"
                 aria-label="text"
                 matInput
                 formControlName="Doctor"
                 [matAutocomplete]="auto"
                 (ngModelChange)="filterDoctors($event)">
                 <!-- <input type="text" aria-label="Number" matInput formControlName="city" [matAutocomplete]="auto"
                 (ngModelChange)="filter($event)" style="font-size: 15px;"> -->
          <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let doctor of filteredDoctors" [value]="doctor.DisplayName">
                  {{ doctor.DisplayName }} <!-- Display the doctor's name in the dropdown -->
              </mat-option>
          </mat-autocomplete>
      </mat-form-field>
  </ion-item>


    <!-- <ion-grid>
      <ion-row>

        <ion-col>
          <ion-item>
            <ion-label color="primary">Is EPI Done</ion-label>
            <ion-checkbox disabled slot="start" formControlName="IsEPIDone" required></ion-checkbox>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label color="primary">Verified</ion-label>
            <ion-checkbox slot="start" formControlName="IsVerified" required></ion-checkbox>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid> -->

    <ion-button (click)='editChild()' style="margin-top: 20px;">Update</ion-button>
    <ion-button routerLink="/members/child/" style="margin-top: 20px;">Cancel</ion-button>
  </form>
</ion-content>