<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Child</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="fg">
    <ion-item>
      <ion-label color="primary" position="floating">Name</ion-label>
      <ion-input type="text" formControlName="Name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Father's Name</ion-label>
      <ion-input type="text" formControlName="FatherName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Email</ion-label>
      <ion-input type="text" formControlName="Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Date Of Birth</ion-label>
      <ion-input type="text" formControlName="DOB" [disabled]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Mobile Number</ion-label>
      <ion-input type="text" formControlName="MobileNumber" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Preferred Day of week</ion-label>
      <ion-select formControlName="PreferredDayOfWeek" required>
        <ion-select-option value="Any">Any</ion-select-option>
        <ion-select-option value="Monday">Monday</ion-select-option>
        <ion-select-option value="Tuesday">Tuesday</ion-select-option>
        <ion-select-option value="Wednesday">Wednesday</ion-select-option>
        <ion-select-option value="Thrusday">Thrusday</ion-select-option>
        <ion-select-option value="Friday">Friday</ion-select-option>
        <ion-select-option value="Saturday">Saturday</ion-select-option>
        <ion-select-option value="Sunday">Sunday</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-radio-group *ngIf ="child" value="{{child.Gender}}">
      <ion-list-header>
        Gender
      </ion-list-header>

      <ion-grid>
        <ion-row>

          <ion-col>
            <ion-item>
              <ion-label color="primary">Boy</ion-label>
              <ion-radio slot="start" value="Boy" (ionSelect)="updateGender('Boy')"></ion-radio>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item>
              <ion-label color="primary">Girl</ion-label>
              <ion-radio slot="start" value="Girl" (ionSelect)="updateGender('Girl')" Checked></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-radio-group>

    <ion-item>
      <ion-label color="primary" position="floating">Select a City</ion-label>
      <ion-select formControlName="City"  required>
        <ion-select-option *ngFor ="let city of childService.cities" value ="{{city}}">{{city}}</ion-select-option>
       
     </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="primary" >Set as Inactive</ion-label>
      <ion-checkbox slot="start" formControlName="IsInactive" ></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Preferred Day of Reminder</ion-label>
      <ion-select formControlName="PreferredDayOfReminder" required>
        <ion-select-option value="0">Preferred day of reminder - On Due Day</ion-select-option>
        <ion-select-option value="1">Due day + 1 Day before</ion-select-option>
        <ion-select-option value="2">Due day + 2 Day before</ion-select-option>
        <ion-select-option value="3">Due day + 3 Day before</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-grid>
      <ion-row>

        <ion-col>
          <ion-item>
            <ion-label color="primary">Is EPI Done</ion-label>
            <ion-checkbox disabled slot="start" formControlName="IsEPIDone" required></ion-checkbox>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label color="primary">Verified</ion-label>
            <ion-checkbox slot="start" formControlName="IsVerified" required></ion-checkbox>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-button [disabled]="!fg.valid" (click)='editChild()'>Update</ion-button>
    <ion-button routerLink="/members/child/">Cancel</ion-button>
  </form>
</ion-content>