<ion-split-pane contentId="main">
  <ion-menu contentId="main" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list class="menu">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of profile">
          <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-avatar slot="start">
              <img [src]="p.imageUrl" *ngIf="p.imageUrl" />
              <ion-icon color="primary" *ngIf="!p.imageUrl" [name]="p.icon"></ion-icon>
            </ion-avatar>
            <ion-label>
             {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item lines="none" [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon [name]="p.icon" [color]="p.title === 'Alerts' ? 'danger' : 'primary'" slot="start"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of doctorPages">
          <ion-item lines="none" *ngIf="!p.children" [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon slot="start" [name]="p.icon" [color]="p.title === 'Alerts' ? 'danger' : 'primary'"></ion-icon>
            <ion-label>{{p.title}}</ion-label>
          </ion-item>

          <ion-item lines="none" *ngIf="p.children" (click)="p.isOpen = !p.isOpen" detail="false">
            <ion-icon slot="start" [name]="p.icon" [color]="p.title === 'Alerts' ? 'danger' : 'primary'"></ion-icon>
            <ion-label>{{p.title}}</ion-label>
            <ion-icon slot="end" [name]="p.isOpen ? 'chevron-down' : 'chevron-forward'"></ion-icon>
          </ion-item>

          <ion-list *ngIf="p.isOpen" class="sub-menu">
            <ion-menu-toggle auto-hide="false" *ngFor="let sub of p.children">
              <ion-item lines="none" *ngIf="!sub.children" class="sub-item" [routerDirection]="'root'" [routerLink]="[sub.url]">
                <ion-icon slot="start" [name]="sub.icon" [color]="p.title === 'Alerts' ? 'danger' : 'primary'"></ion-icon>
                <ion-label>{{sub.title}}</ion-label>
              </ion-item>

              <ion-item lines="none" *ngIf="sub.children" class="sub-item" (click)="sub.isOpen = !sub.isOpen" detail="false">
                <ion-icon slot="start" [name]="sub.icon" [color]="p.title === 'Alerts' ? 'danger' : 'primary'"></ion-icon>
                <ion-label>{{sub.title}}</ion-label>
                <ion-icon slot="end" [name]="sub.isOpen ? 'chevron-down' : 'chevron-forward'"></ion-icon>
              </ion-item>

              <ion-list *ngIf="sub.isOpen" class="sub-sub-menu">
                <ion-menu-toggle auto-hide="false" *ngFor="let subSub of sub.children">
                  <ion-item lines="none" class="sub-sub-item" [routerDirection]="'root'" [routerLink]="[subSub.url]">
                    <ion-icon slot="start" [name]="subSub.icon" [color]="p.title === 'Alerts' ? 'danger' : 'primary'"></ion-icon>
                    <ion-label>{{subSub.title}}</ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </ion-list>
            </ion-menu-toggle>
          </ion-list>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of childPages">
          <ion-item lines="none" [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon color="primary" slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item lines="none" routerLink="/login" (click)="clearStorage()">
          <ion-icon color="primary" slot="start" name="power"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>

        <ion-menu-toggle></ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div id="main" class="shell-main">
    <ion-header class="shell-header">
      <ion-toolbar class="toolbar-blue">
        <ion-title class="ion-text-center" style="cursor:pointer" routerLink="/members/doctor/clinic">
          {{ clinicService.OnlineClinic ? clinicService.OnlineClinic.Name : 'Baby Medics/ Vaccine.pk' }}
        </ion-title>
      </ion-toolbar>
      <ion-toolbar class="toolbar-green">
        <ion-buttons class="ion-justify-content-center" style="width:100%">
          <ion-icon style="cursor:pointer; margin: 0 18px; color:#fff;" routerLink="/members/child/add" name="person-add" size="large"></ion-icon>
          <ion-icon style="cursor:pointer; margin: 0 18px; color:#fff;" routerLink="/members/alert" name="alert" size="large"></ion-icon>
          <ion-icon style="cursor:pointer; margin: 0 18px; color:#fff;" routerLink="/members/child" name="accessibility-outline" size="large"></ion-icon>
          <ion-menu-button style="margin: 0 18px; color:#fff;"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-router-outlet class="shell-outlet"></ion-router-outlet>
  </div>
</ion-split-pane>
