<ion-split-pane contentId="main">
  <ion-menu contentId="main" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content color="light">
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of profile">
          <ion-item color="light" [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-avatar slot="start"> <!-- Use ion-avatar for displaying profile images -->
              <img [src]="p.imageUrl" *ngIf="p.imageUrl" /> <!-- Display image if URL exists -->
              <ion-icon color="primary" *ngIf="!p.imageUrl" [name]="p.icon"></ion-icon> <!-- Display icon if no image URL -->
            </ion-avatar>
            <ion-label>
             {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item color="light" [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon color="primary" slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item-divider color="light">
          <ion-label color="primary">
            Doctor
          </ion-label>
        </ion-item-divider>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of doctorPages">
          <ion-item color="light" [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon color="primary" slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item-divider color="light">
          <ion-label color="primary">
            Child
          </ion-label>
        </ion-item-divider>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of childPages">
          <ion-item color="light" [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon color="primary" slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item color="light" routerLink="/login" (click)="clearStorage()">
          <ion-icon color="primary" slot="start" name="power"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>

        <ion-menu-toggle></ion-menu-toggle>
      </ion-list>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main" main></ion-router-outlet>
</ion-split-pane>