<ion-split-pane>
  <ion-menu type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="light">
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item color="light" [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon color="primary" slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer>

      <ion-menu-toggle>
        <ion-item color="light" routerLink="/login">
          <ion-icon color="primary" slot="start" name="power"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-menu-toggle>

    </ion-footer>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>