.coming-soon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
  
    ion-icon {
      font-size: 64px;
      color: var(--ion-color-primary);
      margin-bottom: 16px;
    }
  
    h2 {
      font-size: 24px;
      font-weight: bold;
      color: var(--ion-color-dark);
      margin-bottom: 16px;
    }
  
    p {
      font-size: 16px;
      color: var(--ion-color-medium);
      margin: 8px 0;
    }
  }
 input
{
    border:0;
    width: 58%
}

mat-datepicker-toggle{
    color: white !important;
}

