ion-content{
    --background: #fff url('../../../assets/login.jpg') no-repeat center center / cover;
}

ion-card{
    margin-top: 15%;
    align-content: center;
    width: 80%;
    margin-left: 10%;
}

ion-input{
    border-bottom: 1px solid rgb(255, 255, 255);
    --padding-start: 7px;
    color: white;
}


.item.item-trns {
	border-color: rgba(255, 255, 255, 0);
	background-color: rgba(0, 0, 0, 0);
	color: white; 
}

h2{
    color:#0039a2;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.arrow{
    border: 1px solid;
    border-radius: 50%;
    color: rgb(255, 255, 255);
}